<html lang="en">

  {{> header title="Contact - Rosetta"}}

  <body>

    <!-- -->

    {{> page_header}}

    <!-- -->

    <section class="pt-160 pb-60">

      <div class="graphic-header">
        <img
          class="graphic-header__curve graphic-header__curve--brand-one"
          src="assets/svg/common/header-curve.svg"
          alt="Graphic of curve for aesthetics"
        />
        <object
          data="assets/svg/contact/contact-header.svg"
          type="image/svg+xml"
          class="graphic-header__graphic"
        ></object>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="font-size-m7 mb-0">Get in touch</p>
            <h1 class="font-size-xl2 font-color-brand-one mb-45">with us</h1>
            <p class="mb-30">Rosetta is backed by Financial Technology firm
              REGnosys.​<br />
              Get in touch with REGnosys and let us know how we can help.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- -->

    <section class="pt-110 pb-10 position-relative">
      <div class="body-curve">
        <canvas
          data-primary-color="#bddc5e"
          data-secondary-color="#bddc5e"
          data-top-shape-svg-url="/assets/svg/curve/curve-e-top.svg"
          data-top-shape-y-offset-percentage="0"
          data-margin-top-percentage-of-top-shape-height="0.3"
          data-bottom-shape-svg-url="/assets/svg/curve/curve-e-bottom-alt-1.svg"
          data-bottom-shape-y-offset-percentage="0"
          data-margin-bottom-percentage-of-bottom-shape-height="0"
        ></canvas>
      </div>
      <div class="container body-curve-content" style="margin-top: -160px">
        <div class="row df-mb-ml-5 mb-60 pb-m-o-50">

          <!-- -->
          <div
            class="col-md-4 info-panel pb-ml-o-50 text-align-center pb-m-o-20"
          >
            <div
              class="info-panel__content info-panel__content--tablet-reduced-padding"
            >
              <object
                data="assets/svg/common/common-tags-ani.svg"
                type="image/svg+xml"
                class="info-panel__primary-icon"
              ></object>
              <p class="font-size-l1 font-weight-semi-bold">Sales &amp;
                Partnerships​</p>
              <p class="font-size-m2 mb-20">We'd love to talk about how
                <br />we can work together</p>
              <div class="display-flex justify-content-center">
                <a
                  href="contact-sales.html"
                  class="link-with-graphic mb-10 font-weight-semi-bold"
                >
                  Contact sales<i><img
                      src="assets/svg/common/link-with-arrow.svg"
                      alt="Link graphic"
                    /></i>
                </a>
              </div>
            </div>
          </div>
          <!-- -->

          <!-- -->
          <div
            class="col-md-4 info-panel pb-ml-o-50 text-align-center pb-m-o-20"
          >
            <div
              class="info-panel__content info-panel__content--tablet-reduced-padding"
            >
              <object
                data="assets/svg/common/common-speech-bubbles-ani.svg"
                type="image/svg+xml"
                class="info-panel__primary-icon"
              ></object>
              <p class="font-size-l1 font-weight-semi-bold">Technical Support​</p>
              <p class="font-size-m2 mb-20">Our support team is here
                <br />to help you use Rosetta</p>
              <div class="display-flex justify-content-center">
                <a
                  href="contact-support.html"
                  class="link-with-graphic mb-10 font-weight-semi-bold"
                >
                  Get support<i><img
                      src="assets/svg/common/link-with-arrow.svg"
                      alt="Link graphic"
                    /></i>
                </a>
              </div>
            </div>
          </div>
          <!-- -->

          <!-- -->
          <div
            class="col-md-4 info-panel pb-ml-o-50 text-align-center pb-m-o-20"
          >
            <div
              class="info-panel__content info-panel__content--tablet-reduced-padding"
            >
              <object
                data="assets/svg/common/common-app-text-ani.svg"
                type="image/svg+xml"
                class="info-panel__primary-icon"
              ></object>
              <p class="font-size-l1 font-weight-semi-bold">REGnosys</p>
              <p class="font-size-m2 mb-20">Our company website broadcasts
                <br />news and other info​​</p>
              <div class="display-flex justify-content-center">
                <a
                  href="{{ config.externalLinks.regnosys }}"
                  class="link-with-graphic mb-10 font-weight-semi-bold"
                  target="_blank"
                >
                  Visit REGnosys<i><img
                      src="assets/svg/common/link-with-arrow.svg"
                      alt="Link graphic"
                    /></i>
                </a>
              </div>
            </div>
          </div>
          <!-- -->

        </div>
        <div class="row mb-60 text-align-center df-ml-text-align-left">
          <div class="col-md-6 offset-lg-2 col-lg-4 pb-ml-o-20">
            <p class="font-size-l1 font-weight-semi-bold">Need a new feature?</p>
            <p class="font-size-m2">We're
              <a
                href="{{ config.externalLinks.issueTracking }}"
                target="_blank"
                class="font-weight-semi-bold font-color-brand-one"
              >tracking</a>
              all requests from our community and you can also
              <a
                href="{{ config.externalLinks.issueSubmit }}"
                target="_blank"
                class="font-weight-semi-bold font-color-brand-one"
              >submit yours​​</a></p>
          </div>
          <div class="col-md-6 col-lg-4">
            <p class="font-size-l1 font-weight-semi-bold">Technical support</p>
            <p class="font-size-m2">Our support team is here to help!
              <br />
              If you have technical issues,
              <a
                href="contact-support.html"
                class="font-weight-semi-bold"
              >contact support</a></p>
          </div>
        </div>
      </div>
    </section>

    <!-- -->

    {{> footer}}

    <!-- -->

    <div class="mini-header-trigger"></div>

    <!-- -->

    {{> scripts}}

  </body>

</html>