<html lang="en">

  {{> header title="Contact Sales - Rosetta"}}

  <body>

    <!-- -->

    {{> page_header}}

    <!-- -->

    <section class="pt-160 pb-60">

      <div class="graphic-header">
        <img
          class="graphic-header__curve graphic-header__curve--brand-one"
          src="assets/svg/common/header-curve.svg"
          alt="Graphic of curve for aesthetics"
        />
        <object
          data="assets/svg/contact/contact-header.svg"
          type="image/svg+xml"
          class="graphic-header__graphic"
        ></object>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="font-size-m7 mb-0">Contact</p>
            <h1 class="font-size-xl2 font-color-brand-one mb-45">our sales team</h1>
            <p>Rosetta is backed by Financial Technology firm REGnosys.​<br />
              Fill out the form and the REGnosys sales team will be in touch as
              soon as possible.​</p>
          </div>
        </div>
      </div>
    </section>

    <!-- -->

    <section class="pt-110 pb-10 position-relative">
      <div class="body-curve">
        <canvas
          data-primary-color="#bddc5e"
          data-secondary-color="#bddc5e"
          data-top-shape-svg-url="/assets/svg/curve/curve-e-top.svg"
          data-top-shape-y-offset-percentage="0"
          data-margin-top-percentage-of-top-shape-height="0.3"
          data-bottom-shape-svg-url="/assets/svg/curve/curve-e-bottom-alt-1.svg"
          data-bottom-shape-y-offset-percentage="0"
          data-margin-bottom-percentage-of-bottom-shape-height="0"
        ></canvas>
      </div>
      <div class="container body-curve-content" style="margin-top: -160px">
        <div
          class="row df-mb-ml-5 mb-40 flex-direction-column-reverse-df-ml df-pt-ml-125"
        >

          <div class="col-md-6 info-panel pb-ml-o-50 mb-40">
            <div
              class="info-panel__content info-panel__content--tablet-reduced-padding"
            >
              <form class="basic-form contact-form">

                <p class="font-size-l1 font-weight-semi-bold mb-20">How can we
                  help?</p>

                <ul>
                  <li><input
                      class="basic-form__text-input"
                      type="text"
                      id="firstname"
                      placeholder="First name*"
                      required
                    /></li>
                  <li><input
                      class="basic-form__text-input"
                      type="text"
                      id="surname"
                      placeholder="Surname*"
                      required
                    /></li>
                  <li><input
                      class="basic-form__email-input"
                      type="email"
                      id="emailaddress"
                      placeholder="Work email (personal email not accepted)*"
                      required
                    /></li>
                  <li><input
                      class="basic-form__text-input"
                      type="text"
                      id="workphone"
                      placeholder="Work phone (optional)"
                    /></li>
                  <li><input
                      class="basic-form__text-input"
                      type="text"
                      id="companywebsite"
                      placeholder="Company website*"
                      required
                    /></li>
                  <li>
                    <select class="basic-form__select" id="country">
                      <option value="" selected disabled>Select country</option>
                      {{#each countryList}}
											<option value="{{alpha2}}">{{name}}</option>
											{{/each}}
                    </select>
                  </li>
                  <li><textarea
                      class="basic-form__textarea-input"
                      rows="5"
                      id="message"
                      placeholder="Tell us more about your query"
                    ></textarea></li>
                  <li class="pt-20"><button
                      class="basic-form__submit-button link-with-graphic"
                      type="submit"
                    >Send to sales team
                      <i><img
                          src="assets/svg/common/link-with-arrow.svg"
                          alt="Link graphic"
                        /></i></button></li>
                </ul>

                <div class="response-container">
                  <div class="success-message">
                    <p class="font-size-m2 font-weight-semi-bold">Thank you,
                      your enquiry was sent successfully.</p>
                  </div>
                  <div class="fail-message">
                    <p class="font-size-m2 font-weight-semi-bold">Sorry, there
                      was a problem submitting your enquiry.</p>
                  </div>
                </div>

              </form>
            </div>
          </div>

          <div
            class="col-md-6 flex-direction-column display-flex justify-content-flex-end pl-ml-15 pl-t-o-20 pl-80"
          >
            <p class="font-size-l1 font-weight-semi-bold mb-30">You are here
              because you want to:</p>
            <ul class="graphic-bullet-list mb-15">
              <li class="font-size-m2">Reclaim control over your most complex
                operational processes​</li>
              <li class="font-size-m2">Free-up your dev team on building new
                solutions, not<br />
                integrating them​</li>
              <li class="font-size-m2">Deliver new data pipelines at warp speed​</li>
            </ul>
            <p class="font-size-l1 font-weight-semi-bold">Great – You've come to
              the right place.</p>
            <p class="font-size-m2 pb-ml-o-20 pb-60">Just tell us what you need
              and we'll be in touch.</p>
          </div>
        </div>
        <div class="row mb-60 text-align-center df-ml-text-align-left">
          <div class="col-md-6 offset-lg-2 col-lg-4 pb-ml-o-20">
            <p class="font-size-l1 font-weight-semi-bold">Need a new feature?</p>
            <p class="font-size-m2">We're
              <a
                href="{{ config.externalLinks.issueTracking }}"
                class="font-weight-semi-bold"
                target="_blank"
              >tracking</a>
              all requests from our community and you can also
              <a
                href="{{ config.externalLinks.issueSubmit }}"
                class="font-weight-semi-bold"
              >submit yours​​</a></p>
          </div>
          <div class="col-md-6 col-lg-4">
            <p class="font-size-l1 font-weight-semi-bold">Technical support</p>
            <p class="font-size-m2">Our support team is here to help!
              <br />
              If you have technical issues,
              <a
                href="contact-support.html"
                class="font-weight-semi-bold"
              >contact support</a></p>
          </div>
        </div>
      </div>
    </section>

    <!-- -->

    {{> footer}}

    <!-- -->

    <div class="mini-header-trigger"></div>

    <!-- -->

    {{> scripts}}

  </body>

</html>