<!DOCTYPE html>
<html lang="en">

	{{> header title="Deploy - Rosetta"}}

	<body>
		
		<!-- -->

		{{> page_header}}

        <!-- -->

        <section class="pt-160 pb-100 lottie-header">
			<div class="product-header-curve">
				<img src="assets/svg/product/header/curve.svg" alt="Graphic of curve for aesthetics">
			</div>
			<div class="lottie-wrapper lottie-wrapper--hero lottie-wrapper--deploy">
				<lottie-player
					autoplay
					loop
					mode="normal"
					src="assets/lottie/platform-deploy.json"
					style="height: auto; width: 100%"
				></lottie-player>
			</div>
            <div class="container z-index-above-graphic position-relative">
                <div class="row">
                    <div class="col-md-12">
                        <p class="font-size-m7 mb-0">Rosetta</p>
                        <h1 class="font-size-xl2 font-color-brand-one mb-20">Deploy</h1>
                        <p class="mb-45">End-to-end automation of your model supply chain</p>
                        <p class="font-size-l3 font-weight-semi-bold reduced-letter-spacing">Test, release, distribute. 
							<span class="font-color-brand-one">Continuously</span>
						</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- -->

		<section class="position-relative">
			<div class="body-curve">
				<canvas 
					data-primary-color="#4d6f88"
					data-secondary-color="#4d6f88"
					data-top-shape-svg-url="/assets/svg/curve/curve-e-top.svg"
					data-top-shape-y-offset-percentage="0.2"
					data-margin-top-percentage-of-top-shape-height="0.2"
					data-bottom-shape-svg-url="/assets/svg/curve/curve-e-bottom.svg"
					data-bottom-shape-y-offset-percentage="1.3"
					data-margin-bottom-percentage-of-bottom-shape-height="1"
				></canvas>
			</div>
			<div class="container body-curve-content font-color-brand-aux-two pt-100">
				<div class="row">
                    <div class="col-md-12">
                        <p class="font-weight-semi-bold mb-40 font-color-brand-aux-five" data-aos="fade-right">Agile everywhere​</p>
                    </div>
					<div class="col-md-12 col-lg-10">
						<h2 data-aos="fade-up">Continuous model delivery​ <br>across your tech stack</h2>
						<p class="font-color-brand-aux-two">With model-driven development practices embedded in your software development process, you need to streamline the distribution of model code into the rest of your tech stack.​​</p>
						<p class="font-color-brand-aux-two">Rosetta Deploy orchestrates the various processes required to test, build, release, distribute and deploy any model to its consumers, keeping your model supply chain flowing continuously.</p>
					</div>
				</div>
			</div>
		</section>

        <!-- -->

		<section class="two-col-panel">
			<div class="container pt-60 pb-60">
				<div class="row">
					<div class="col-md-6 two-col-panel__col-details">
						<h2 class="two-col-panel__heading" data-aos="fade-up">Deploy models <br><span class="font-color-brand-one">at warp speed</span></h2>
						<p>Rosetta Deploy allows you to release and deploy models continuously with a fully automated model supply chain. 
							Test, build, release, distribute and deploy, without no interruption in your flow.</p>
					</div>
					<div class="col-md-6 two-col-panel__col-graphic">
						<div class="two-col-panel__graphic-container scrolls-into-view">
							<img data-apply-shadow src="assets/images/screenshots/deploy/deploy-model-at-warp-speed.gif" alt="" data-action="zoom">
						</div>
					</div>
				</div>
			</div>
		</section>

        <!-- -->

		<section class="two-col-panel">
			<div class="body-curve">
				<canvas 
					data-primary-color="#bddc5e"
					data-secondary-color="#e5f1bf"
					data-top-shape-svg-url="/assets/svg/curve/curve-f-top.svg"
					data-top-shape-y-offset-percentage="1"
					data-margin-top-percentage-of-top-shape-height="1.3"
					data-bottom-shape-svg-url="/assets/svg/curve/curve-d-bottom.svg"
					data-bottom-shape-y-offset-percentage="0"
					data-margin-bottom-percentage-of-bottom-shape-height="0"
				></canvas>
			</div>
			<div class="container body-curve-content pb-250 df-pb-t-150">
				<div class="row two-col-panel--reverse">
					<div class="col-md-6 two-col-panel__col-details">
						<h2 class="two-col-panel__heading" data-aos="fade-up">Release <br><span class="font-color-brand-one">fearlessly</span></h2>
						<p>You're in control: you define your build tests, Rosetta Deploy runs them at every step of the way, from source code to deployment. 
							Ship business-critical models across your organisation, fearlessly.</p>
					</div>
					<div class="col-md-6 two-col-panel__col-graphic">
						<div class="two-col-panel__graphic-container scrolls-into-view mirror-anim">
							<img data-apply-shadow src="assets/images/screenshots/deploy/release-fearlessly.gif" alt="" data-action="zoom">
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- -->

		<section class="pt-85 pb-25 background-color-brand-aux-six">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="font-weight-semi-bold mb-20 font-color-brand-aux-three" data-aos="fade-right">The Rosetta Deploy difference</p>
					</div>
				</div>
				<div class="row mb-50">
					<div class="col-lg-5 mb-15">
						<h2 class="font-color-brand-one font-size-l4r" data-aos="fade-right">End-to-end model <br>supply chain automation</h2>
					</div>
					<div class="col-lg-6">
						<p data-aos="fade-left">Keep as agile in your model development process as you are 
							across the rest of your software delivery​</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-6 mb-60 df-mb-ml-30 text-align-center" data-aos="fade-up">
						<div class="lottie-wrapper lottie-wrapper--small">
							<lottie-player
								autoplay
								loop
								mode="normal"
								src="assets/lottie/for-all-and-any-technology.json"
								style="height: auto;"
					  		></lottie-player>
						</div>
						<p class="font-size-l2r font-weight-semi-bold mb-15">End to end automation</p>
						<p>All your build processes​ from <br>testing to releasing and deploying, <br>
							<span class="font-weight-semi-bold font-color-brand-one">consistently orchestrated</span>
						</p>
					</div>
					<div class="col-md-6 col-lg-6 mb-60 df-mb-ml-30 text-align-center" data-aos="fade-up">
						<div class="lottie-wrapper lottie-wrapper--small">
							<lottie-player
								autoplay
								loop
								mode="normal"
								src="assets/lottie/test-driven-by-design.json"
								style="height: auto;"
					  		></lottie-player>
						</div>
						<p class="font-size-l2r font-weight-semi-bold mb-15">Test-driven by design</p>
						<p>Define, run and distribute​ <br>all your tests within your model to <br>
							<span class="font-weight-semi-bold font-color-brand-one">scale its development</span>
						</p>
					</div>
				</div>
			</div>
		</section>

        <!-- -->

		<section class="pt-110 pb-10 text-align-center position-relative background-color-brand-aux-six">
			<div class="body-curve">
				<canvas 
					data-primary-color="#4d6f88"
					data-secondary-color="#4d6f88"
					data-top-shape-svg-url="/assets/svg/curve/curve-e-top.svg"
					data-top-shape-y-offset-percentage="0"
					data-margin-top-percentage-of-top-shape-height="0"
					data-bottom-shape-svg-url="/assets/svg/curve/curve-e-bottom-alt-1.svg"
					data-bottom-shape-y-offset-percentage="0.1"
					data-margin-bottom-percentage-of-bottom-shape-height="0"
				></canvas>
			</div>
			<div class="container body-curve-content">
				<div class="row">
					<div class="col-md-12">
						<p class="font-weight-semi-bold mb-20 font-color-brand-aux-five" data-aos="fade-up">Ready to roll?</p>
					</div>
				</div>
				<div class="row mb-60">
					<div class="col-md-12 mb-25">
						<h2 class="font-color-brand-aux-two font-size-l6r" data-aos="fade-up">Take Rosetta for a spin. 
							<br class="display-none d-b-m-o"><span class="font-color-brand-aux-five">It's on us.</span>​
						</h2>
					</div>
					<div class="col-md-12 mb-25">
						<div class="button-card mb-20" data-aos="fade-up">
							<a href="{{ config.externalLinks.signUp }}" class="button button--theme-a">Sign up for free</a>
						</div>
						<div class="button-card mb-20" data-aos="fade-up">
							<a href="pricing" class="button button--theme-a">Buy now</a>
						</div>
					</div>
					<div class="col-md-12">
						<p class="font-size-m2 font-color-brand-aux-two" data-aos="fade-up">Sign-up today and get started on your model development in seconds. 
                            <br class="d-n-m-o d-n-ml-o">Our free version comes with no time limit and no credit card required. 
                            <br class="d-n-m-o d-n-i-o">And Rosetta can then grow with your enterprise use.
                        ​​​</p>
					</div>
				</div>
			</div>
		</section>

		<!-- -->

		{{> footer}}

		<!-- -->

		<div class="mini-header-trigger"></div>

		<!-- -->

		{{> breakpoint_assistant}}

		<!-- -->

		{{> scripts}}

	</body>

</html>
