<!DOCTYPE html>
<html lang="en">

  {{> header title="Design - Rosetta"}}

  <body>

    <div class="site-wrapper">

      <!-- -->

      {{> page_header}}

      <!-- -->

      <section class="pt-160 pb-100 lottie-header">
        <div class="product-header-curve">
          <img
            src="assets/svg/product/header/curve.svg"
            alt="Graphic of curve for aesthetics"
          />
        </div>
        <div class="lottie-wrapper lottie-wrapper--hero lottie-wrapper--design">
          <lottie-player
            autoplay
            loop
            mode="normal"
            src="assets/lottie/platform-design.json"
            style="height: auto; width: 100%"
          ></lottie-player>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p class="font-size-m7 mb-0">Rosetta</p>
              <h1 class="font-size-xl2 font-color-brand-one mb-20">Design</h1>
              <p class="mb-45">Online model development tool for the Rosetta DSL</p>
              <p
                class="font-size-l3 font-weight-semi-bold reduced-letter-spacing"
              >Model your data.
                <span class="font-color-brand-one">Unlock their value.</span>
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- -->

      <section class="lottie-wrapper lottie-wrapper--inline lottie-wrapper--design--inline">
        <lottie-player
          autoplay
          loop
          mode="normal"
          src="assets/lottie/platform-design.json"
          style="height: auto; width: 100%"
        ></lottie-player>
      </section>

      <!-- -->

      <section class="position-relative">
        <div class="body-curve">
          <canvas
            data-primary-color="#4d6f88"
            data-secondary-color="#4d6f88"
            data-top-shape-svg-url="/assets/svg/curve/curve-e-top.svg"
            data-top-shape-y-offset-percentage="0.2"
            data-margin-top-percentage-of-top-shape-height="0.2"
            data-bottom-shape-svg-url="/assets/svg/curve/curve-e-bottom.svg"
            data-bottom-shape-y-offset-percentage="1.3"
            data-margin-bottom-percentage-of-bottom-shape-height="1"
          ></canvas>
        </div>
        <div class="container body-curve-content font-color-brand-aux-two pt-100">
          <div class="row">
            <div class="col-md-12">
              <p
                class="font-weight-semi-bold mb-40 font-color-brand-aux-five"
                data-aos="fade-right"
              >Unlock the power of your business data</p>
            </div>
            <div class="col-md-12 col-lg-10">
              <h2 data-aos="fade-up">A complete modelling solution
                <br />that transcends enterprise silos</h2>
              <p class="font-color-brand-aux-two">You sit on loads of data, whose
                value is trapped within the silos of your enterprise applications
                if those silos cannot talk to each other.​​</p>
              <p class="font-color-brand-aux-two">Rosetta Design is a no-instal,
                web-based solution to develop consistent application- and
                technology-agnostic models for business data and business logic.​​</p>
              <p class="font-color-brand-aux-two">Rosetta Design is based on an
                open source, Domain Specific Language called the Rosetta DSL, that
                is simple and intuitive to use in a wide range of modelling
                applications.</p>
            </div>
          </div>
        </div>
      </section>

      <!-- -->

      <section class="two-col-panel">
        <div class="container pt-60 pb-t-60">
          <div class="row">
            <div class="col-md-6 two-col-panel__col-details">
              <h2 class="two-col-panel__heading" data-aos="fade-up">Model
                <br /><span class="font-color-brand-one">anything you can imagine</span></h2>
              <p>Rosetta Design's comprehensive modelling language lets you define
                all your business data and business logic in one place, in a
                technology- and application-agnostic way.</p>
            </div>
            <div class="col-md-6 two-col-panel__col-graphic">
              <div class="two-col-panel__graphic-container scrolls-into-view">
                <img
                  src="assets/images/screenshots/design/model-anything-you-can-imagine.png"
                  alt=""
                  data-action="zoom"
                />
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- -->

      <section class="two-col-panel">
        <div class="body-curve">
          <canvas
            data-primary-color="#bddc5e"
            data-secondary-color="#e5f1bf"
            data-top-shape-svg-url="/assets/svg/curve/curve-f-top.svg"
            data-top-shape-y-offset-percentage="1"
            data-margin-top-percentage-of-top-shape-height="1.3"
            data-bottom-shape-svg-url="/assets/svg/curve/curve-f-bottom.svg"
            data-bottom-shape-y-offset-percentage="1.1"
            data-margin-bottom-percentage-of-bottom-shape-height="1"
          ></canvas>
        </div>
        <div class="container body-curve-content pb-130 df-pb-t-50">
          <div class="row two-col-panel--reverse">
            <div class="col-md-6 two-col-panel__col-details pb-ml-o-40">
              <h2 class="two-col-panel__heading" data-aos="fade-up">Become a
                <br /><span class="font-color-brand-one">data-centric organisation</span></h2>
              <p>Rosetta Design's intuitive modelling interface enables all your
                functional units to "talk data". Resolve your organisation's data
                governance challenges by ensuring a common understanding between
                producers and consumers of data.</p>
            </div>
            <div class="col-md-6 two-col-panel__col-graphic">
              <div
                class="two-col-panel__graphic-container scrolls-into-view mirror-anim"
              >
                <img
                  src="assets/images/screenshots/design/become-a-data-centric-organisation.png"
                  style="max-width: 90%"
                  alt=""
                  data-action="zoom"
                />
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- -->

      <section class="two-col-panel">
        <div class="container pb-170 df-pb-t-100 pt-60">
          <div class="row">
            <div class="col-md-6 two-col-panel__col-details">
              <h2 class="two-col-panel__heading" data-aos="fade-up">Collaborate on<br
                /><span class="font-color-brand-one">shared industry models</span></h2>
              <p>Some of the most complex industry processes are bi- or even
                multi-lateral. Rosetta Design enables native inter-operability
                between data users sitting across enterprise boundaries, by
                aligning their process implementation through shared code.</p>
            </div>
            <div class="col-md-6 two-col-panel__col-graphic">
              <div class="two-col-panel__graphic-container scrolls-into-view">
                <img
                  data-apply-shadow
                  src="assets/images/screenshots/design/collaborate-on-shared-industry-model.png"
                  alt=""
                  data-action="zoom"
                />
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- -->

      <section class="pt-85 pb-25 background-color-brand-aux-six">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p
                class="font-weight-semi-bold mb-20 font-color-brand-aux-three"
                data-aos="fade-right"
              >The Rosetta Design difference</p>
            </div>
          </div>
          <div class="row mb-50">
            <div class="col-lg-5 mb-15">
              <h2
                class="font-color-brand-one font-size-l5r"
                data-aos="fade-right"
              >Online model <br />development tool</h2>
            </div>
            <div class="col-lg-6">
              <p data-aos="fade-left">Unlock the power of your business data, with
                a complete modelling solution that transcends enterprise silos.​</p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div
              class="col-md-6 col-lg-4 mb-60 df-mb-ml-30 text-align-center"
              data-aos="fade-up"
            >
              <div class="lottie-wrapper lottie-wrapper--small">
                <lottie-player
                  autoplay
                  loop
                  mode="normal"
                  src="assets/lottie/go-fast.json"
                  style="height: auto;"
                ></lottie-player>
              </div>
              <p class="font-size-l2r font-weight-semi-bold mb-15">Go fast</p>
              <p>No-install, web based application.
                <br />Just open a browser and
                <br />
                <span class="font-weight-semi-bold font-color-brand-one">be ready
                  to roll in seconds</span></p>
            </div>
            <div
              class="col-md-6 col-lg-4 mb-60 df-mb-ml-30 text-align-center"
              data-aos="fade-up"
            >
              <div class="lottie-wrapper lottie-wrapper--small">
                <lottie-player
                  autoplay
                  loop
                  mode="normal"
                  src="assets/lottie/intergration-as-a-service.json"
                  style="height: auto;"
                ></lottie-player>
              </div>
              <p class="font-size-l2r font-weight-semi-bold mb-15">Dynamic and
                interactive</p>
              <p>Empower your users
                <br />with cloud-native technology
                <br />
                <span class="font-weight-semi-bold font-color-brand-one">built for
                  live use</span>
              </p>
            </div>
            <div
              class="col-md-6 col-lg-4 mb-60 df-mb-ml-30 text-align-center"
              data-aos="fade-up"
            >
              <div class="lottie-wrapper lottie-wrapper--small">
                <lottie-player
                  autoplay
                  loop
                  mode="normal"
                  src="assets/lottie/built-for-the-community.json"
                  style="height: auto;"
                ></lottie-player>
              </div>
              <p class="font-size-l2r font-weight-semi-bold mb-15">Built for the
                community</p>
              <p>Anchored in open-source
                <br class="d-n-t-o" />principles and designed to foster
                <br />
                <span class="font-weight-semi-bold font-color-brand-one">industry
                  collaboration</span>
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- -->

      <section
        class="pt-110 pb-10 text-align-center position-relative background-color-brand-aux-six"
      >
        <div class="body-curve">
          <canvas
            data-primary-color="#4d6f88"
            data-secondary-color="#4d6f88"
            data-top-shape-svg-url="/assets/svg/curve/curve-e-top.svg"
            data-top-shape-y-offset-percentage="0"
            data-margin-top-percentage-of-top-shape-height="0"
            data-bottom-shape-svg-url="/assets/svg/curve/curve-e-bottom-alt-1.svg"
            data-bottom-shape-y-offset-percentage="0.1"
            data-margin-bottom-percentage-of-bottom-shape-height="0"
          ></canvas>
        </div>
        <div class="container body-curve-content">
          <div class="row">
            <div class="col-md-12">
              <p
                class="font-weight-semi-bold mb-20 font-color-brand-aux-five"
                data-aos="fade-up"
              >Ready to roll?</p>
            </div>
          </div>
          <div class="row mb-60">
            <div class="col-md-12 mb-25">
              <h2
                class="font-color-brand-aux-two font-size-l6r"
                data-aos="fade-up"
              >Take Rosetta for a spin.
                <br class="display-none d-b-m-o" /><span
                  class="font-color-brand-aux-five"
                >It's on us.</span>​
              </h2>
            </div>
            <div class="col-md-12 mb-25">
              <div class="button-card mb-20" data-aos="fade-up">
                <a
                  href="{{ config.externalLinks.signUp }}"
                  class="button button--theme-a"
                >Sign up for free</a>
              </div>
              <div class="button-card mb-20" data-aos="fade-up">
                <a href="pricing" class="button button--theme-a">Buy now</a>
              </div>
            </div>
            <div class="col-md-12">
              <p
                class="font-size-m2 font-color-brand-aux-two"
                data-aos="fade-up"
              >Sign-up today and get started on your model development in seconds.
                <br class="d-n-m-o d-n-ml-o" />Our free version comes with no time
                limit and no credit card required.
                <br class="d-n-m-o d-n-i-o" />And Rosetta can then grow with your
                enterprise use. ​​​</p>
            </div>
          </div>
        </div>
      </section>

      <!-- -->

      {{> footer}}

      <!-- -->

      <div class="mini-header-trigger"></div>

    </div>

    <!-- -->

    {{> scripts}}

  </body>

</html>