<html lang="en">

  {{> header title="IT Security - Rosetta"}}

  <body>

    <div class="site-wrapper">

      <!-- -->

      {{> page_header}}

      <!-- -->

      <section class="pt-160 pb-60">

        <div class="graphic-header">
          <img
            class="graphic-header__curve graphic-header__curve--brand-one"
            src="assets/svg/common/header-curve.svg"
            alt="Graphic of curve for aesthetics"
          />
          <object
            data="assets/svg/it-security/it-security.svg"
            type="image/svg+xml"
            class="graphic-header__graphic"
            style="margin-top: -110px"
          ></object>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p class="font-size-m7 mb-0">Information Technology</p>
              <h1 class="font-size-xl2 font-color-brand-one mb-45">Security</h1>
              <p>Some of the world's largest financial institutions trust Rosetta
                to design,
                <br class="d-n-m-o d-n-ml-o" />build and securely run their data
                pipelines.</p>
            </div>
          </div>
        </div>
      </section>

      <!-- -->

      <section class="two-col-panel">
        <div class="body-curve">
          <canvas
            data-primary-color="#bddc5e"
            data-secondary-color="#e5f1bf"
            data-top-shape-svg-url="/assets/svg/curve/curve-h-top.svg"
            data-top-shape-y-offset-percentage="0"
            data-margin-top-percentage-of-top-shape-height="0"
            data-bottom-shape-svg-url="/assets/svg/curve/curve-h-bottom.svg"
            data-bottom-shape-y-offset-percentage="0.5"
            data-margin-bottom-percentage-of-bottom-shape-height="0"
          ></canvas>
        </div>
        <div class="container body-curve-content pt-105 pb-65 pb-d-150">
          <div class="row">
            <div
              class="col-md-6 two-col-panel__col-details pb-50 display-flex flex-direction-column justify-content-center"
            >
              <h2 class="two-col-panel__heading" data-aos="fade-up">Data
                Encryption</h2>
              <p>Your data is cryptographically encrypted whilst in-flight and
                at-rest using TLS and [X]. Client Key Management is available for
                added security along with peered VPN setup based on trust-less
                architecture.​</p>
            </div>
            <div
              class="col-md-6 two-col-panel__col-graphic text-align-center pb-40 pb-ld-o-100"
            >
              <div
                class="horizontal-animation-graphic scrolls-into-view df-w-t-80p"
              >
                <div class="lottie-wrapper">
                  <lottie-player
                    autoplay
                    loop
                    mode="normal"
                    src="assets/lottie/data-encryption.json"
                    style="height: auto;"
                  ></lottie-player>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- -->

      <section class="two-col-panel">
        <div class="container pt-10 pt-ml-o-100 pb-40 df-pb-t-90">
          <div class="row two-col-panel--reverse">
            <div
              class="col-md-6 two-col-panel__col-details pb-50 display-flex flex-direction-column justify-content-center"
            >
              <h2 class="two-col-panel__heading" data-aos="fade-up">Data
                Separation</h2>
              <p>Keep your data separated on multiple levels. Benefit from
                stronger data barriers by using dedicated servers and hardware for
                data processing and storage.</p>
            </div>
            <div class="col-md-6 two-col-panel__col-graphic text-align-center">
              <div
                class="horizontal-animation-graphic horizontal-animation-graphic--mirror-anim scrolls-into-view"
              >
                <div class="lottie-wrapper lottie-wrapper--width-90pc">
                  <lottie-player
                    autoplay
                    loop
                    mode="normal"
                    src="assets/lottie/data-seperation2.json"
                    style="height: auto;"
                  ></lottie-player>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- -->

      <section class="two-col-panel">
        <div class="body-curve">
          <canvas
            data-primary-color="#d7f0f3"
            data-secondary-color="#e7f6f8"
            data-top-shape-svg-url="/assets/svg/curve/curve-c-top.svg"
            data-top-shape-y-offset-percentage="0.4"
            data-margin-top-percentage-of-top-shape-height="0.4"
            data-bottom-shape-svg-url="/assets/svg/curve/curve-g-bottom.svg"
            data-bottom-shape-y-offset-percentage="0.1"
            data-margin-bottom-percentage-of-bottom-shape-height="0"
          ></canvas>
        </div>
        <div class="container body-curve-content pt-20 df-pb-t-50">
          <div class="row">
            <div
              class="col-md-6 two-col-panel__col-details pb-30 display-flex flex-direction-column justify-content-center"
            >
              <h2 class="two-col-panel__heading" data-aos="fade-up">Business
                Continuity</h2>
              <p>Systems run live-live to keep your business moving while
                localised deployments keeps things snappy.</p>
            </div>
            <div class="col-md-6 two-col-panel__col-graphic text-align-center">
              <div class="horizontal-animation-graphic scrolls-into-view">
                <div class="lottie-wrapper">
                  <lottie-player
                    autoplay
                    loop
                    mode="normal"
                    src="assets/lottie/business-continuity.json"
                    style="height: auto;"
                  ></lottie-player>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- -->

      <section class="pt-100 pb-25">
        <div class="container">
          <div class="row">
            <div class="col-md-12 pb-50 pb-ml-o-50 text-align-center">
              <h2
                class="font-size-l4 font-weight-semi-bold font-color-brand-one"
              >Rest Assured</h2>
              <p class="mb-60">Our architecture is built for high-availability,
                ​high-resilience and is fully secure.</p>
              <img
                class="mb-60 d-n-m-o d-n-ml-o"
                src="assets/svg/it-security/it-security-graphic-1-full.svg"
                alt="Graphic showing VPN connecting the client's network and the Rosetta network."
              />
              <img
                class="mb-60 display-none d-b-m-o d-b-ml-o"
                src="assets/svg/it-security/it-security-graphic-1-mobile.svg"
                alt="Graphic showing VPN connecting the client's network and the Rosetta network."
              />
              <p>Want to know more about our range of deployment options​ and
                security practices?</p>
              <div class="display-inline-block">
                <a
                  href="#"
                  class="link-with-graphic font-size-m5 font-weight-semi-bold"
                >
                  Contact sales
                  <i><img
                      src="assets/svg/common/link-with-arrow.svg"
                      alt="Link graphic"
                    /></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- -->

      <section class="pt-110 pb-10 text-align-center position-relative">
        <div class="body-curve">
          <canvas
            data-primary-color="#ea409d"
            data-secondary-color="#ee89c1"
            data-top-shape-svg-url="/assets/svg/curve/curve-e-top.svg"
            data-top-shape-y-offset-percentage="0"
            data-margin-top-percentage-of-top-shape-height="0"
            data-bottom-shape-svg-url="/assets/svg/curve/curve-e-bottom-alt-1.svg"
            data-bottom-shape-y-offset-percentage="0.1"
            data-margin-bottom-percentage-of-bottom-shape-height="0"
          ></canvas>
        </div>
        <div class="container body-curve-content">
          <div class="row">
            <div class="col-md-12">
              <p
                class="font-weight-semi-bold mb-20 font-color-brand-two"
                data-aos="fade-up"
              >Ready to roll?</p>
            </div>
          </div>
          <div class="row mb-60">
            <div class="col-md-12 mb-25">
              <h2
                class="font-color-brand-aux-two font-size-l6r"
                data-aos="fade-up"
              >Take Rosetta for a spin.
                <br class="display-none d-b-m-o" /><span
                  class="font-color-brand-two"
                >It's on us.</span>​
              </h2>
            </div>
            <div class="col-md-12 mb-25">
              <div class="button-card mb-20" data-aos="fade-up">
                <a
                  href="{{ config.externalLinks.signUp }}"
                  class="button"
                >Sign up for free</a>
              </div>
              <div class="button-card mb-20" data-aos="fade-up">
                <a href="pricing" class="button">Buy now</a>
              </div>
            </div>
            <div class="col-md-12">
              <p
                class="font-size-m2 font-color-brand-aux-two"
                data-aos="fade-up"
              >Sign-up today and get started on your model development in seconds.
                <br class="d-n-m-o d-n-ml-o" />Our free version comes with no time
                limit and no credit card required.
                <br class="d-n-m-o d-n-i-o" />And Rosetta can then grow with your
                enterprise use. ​​​</p>
            </div>
          </div>
        </div>
      </section>

      <!-- -->

      {{> footer}}

      <!-- -->

      <div class="mini-header-trigger"></div>

      <!-- -->

      {{> scripts}}

    </div>

  </body>

</html>