<!DOCTYPE html>
<html lang="en">

  {{> header title="Monitor - Rosetta"}}

  <body>

    <div class="site-wrapper">

      <!-- -->

      {{> page_header}}

      <!-- -->

      <section class="pt-160 pb-100 lottie-header">
        <div class="product-header-curve">
          <img
            src="assets/svg/product/header/curve.svg"
            alt="Graphic of curve for aesthetics"
          />
        </div>
        <div class="lottie-wrapper lottie-wrapper--hero lottie-wrapper--monitor">
          <lottie-player
            autoplay
            loop
            mode="normal"
            src="assets/lottie/platform-monitor.json"
            style="height: auto; width: 100%"
          ></lottie-player>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p class="font-size-m7 mb-0">Rosetta</p>
              <h1 class="font-size-xl2 font-color-brand-one mb-20">Monitor</h1>
              <p class="mb-45">Audit and trace physical data flow through your
                pipelines</p>
              <p
                class="font-size-l3 font-weight-semi-bold reduced-letter-spacing"
              >Pipeline transparency.
                <span class="font-color-brand-one">At your fingertips.</span>
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- -->

      <section class="lottie-wrapper lottie-wrapper--inline lottie-wrapper--monitor--inline">
        <lottie-player
          autoplay
          loop
          mode="normal"
          src="assets/lottie/platform-monitor.json"
          style="height: auto; width: 100%"
        ></lottie-player>
      </section>

      <!-- -->

      <section class="position-relative">
        <div class="body-curve">
          <canvas
            data-primary-color="#4d6f88"
            data-secondary-color="#4d6f88"
            data-top-shape-svg-url="/assets/svg/curve/curve-e-top.svg"
            data-top-shape-y-offset-percentage="0.2"
            data-margin-top-percentage-of-top-shape-height="0.2"
            data-bottom-shape-svg-url="/assets/svg/curve/curve-e-bottom.svg"
            data-bottom-shape-y-offset-percentage="1.3"
            data-margin-bottom-percentage-of-bottom-shape-height="1"
          ></canvas>
        </div>
        <div class="container body-curve-content font-color-brand-aux-two pt-100">
          <div class="row">
            <div class="col-md-12">
              <p
                class="font-weight-semi-bold mb-40 font-color-brand-aux-five"
                data-aos="fade-right"
              >Put your teams back in control</p>
            </div>
            <div class="col-md-12 col-lg-8">
              <h2 data-aos="fade-up">Data pipeline auditability,
                <br />and traceability, in real-time</h2>
              <p class="font-color-brand-aux-two">With 100,000s of transactions to
                manage every day, you run some of the world's most complex and
                heavily regulated business processes.​​​</p>
              <p class="font-color-brand-aux-two">You need more than just a series
                of checks. You need continuous, end-to-end explicability of your
                data pipelines, down to single transaction flow visualisation,
                live and at any point in time.​​</p>
              <p class="font-color-brand-aux-two">No more black box. Rosetta
                Monitor is the ultimate transparency tool for your data pipelines.</p>
            </div>
          </div>
        </div>
      </section>

      <!-- -->

      <section class="two-col-panel">
        <div class="container pt-60 pb-60">
          <div class="row">
            <div class="col-md-6 two-col-panel__col-details df-pb-t-25">
              <h2 class="two-col-panel__heading" data-aos="fade-up">Trace your
                data,
                <br /><span class="font-color-brand-one">end to end</span></h2>
              <p>Rosetta Monitor provides total control of your data pipelines
                with end-to-end data traceability, from source to output. Know
                your data, where they come from and where they're going,
                continuously and down to single transaction flow.​</p>
            </div>
            <div class="col-md-6 two-col-panel__col-graphic">
              <div class="two-col-panel__graphic-container scrolls-into-view">
                <img src="assets/svg/monitor/end-to-end.svg" loading="lazy" />
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- -->

      <section class="two-col-panel">
        <div class="body-curve">
          <canvas
            data-primary-color="#bddc5e"
            data-secondary-color="#e5f1bf"
            data-top-shape-svg-url="/assets/svg/curve/curve-f-top.svg"
            data-top-shape-y-offset-percentage="1"
            data-margin-top-percentage-of-top-shape-height="1.3"
            data-bottom-shape-svg-url="/assets/svg/curve/curve-d-bottom.svg"
            data-bottom-shape-y-offset-percentage="0"
            data-margin-bottom-percentage-of-bottom-shape-height="0"
          ></canvas>
        </div>
        <div class="container body-curve-content pb-150 df-pb-t-50">
          <div class="row two-col-panel--reverse">
            <div class="col-md-6 two-col-panel__col-details df-pb-t-25">
              <h2 class="two-col-panel__heading" data-aos="fade-up">Reclaim
                control
                <br /><span class="font-color-brand-one">as self-service</span></h2>
              <p>Empower your operational teams with transparency over their most
                complex processes thanks to self-service auditability. Data
                pipelines are fully explicable, so they never require any actual
                audit: all the logic is at your fingertips.</p>
            </div>
            <div class="col-md-6 two-col-panel__col-graphic">
              <div
                class="two-col-panel__graphic-container mirror-anim scrolls-into-view"
              >
                <img
                  src="assets/svg/monitor/reclaim-control.svg"
                  loading="lazy"
                  style="width: 80%"
                />
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- -->

      <section class="pt-85 pb-25 background-color-brand-aux-six">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p
                class="font-weight-semi-bold mb-20 font-color-brand-aux-three"
                data-aos="fade-right"
              >The Rosetta Monitor difference</p>
            </div>
          </div>
          <div class="row mb-50">
            <div class="col-lg-5 mb-15">
              <h2
                class="font-color-brand-one font-size-l5r"
                data-aos="fade-right"
              >Audit and trace your <br />physical data flow</h2>
            </div>
            <div class="col-lg-6">
              <p data-aos="fade-left">Put your operational teams back in control
                with real-time auditability and traceability of their data
                pipelines.​​</p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div
              class="col-md-6 col-lg-4 mb-60 df-mb-ml-30 text-align-center"
              data-aos="fade-up"
            >
              <div class="lottie-wrapper lottie-wrapper--small">
                <lottie-player
                  autoplay
                  loop
                  mode="normal"
                  src="assets/lottie/collaborate-on-shared-industry-models.json"
                  style="height: auto;"
                ></lottie-player>
              </div>
              <p class="font-size-l2r font-weight-semi-bold mb-15">End to end
                transparency​</p>
              <p>The only solution that guarantees
                <br />full data pipeline traceability
                <br />
                <span class="font-weight-semi-bold font-color-brand-one">from
                  source to output</span></p>
            </div>
            <div
              class="col-md-6 col-lg-4 mb-60 df-mb-ml-30 text-align-center"
              data-aos="fade-up"
            >
              <div class="lottie-wrapper lottie-wrapper--small">
                <lottie-player
                  autoplay
                  loop
                  mode="normal"
                  src="assets/lottie/intergration-as-a-service.json"
                  style="height: auto;"
                ></lottie-player>
              </div>
              <p class="font-size-l2r font-weight-semi-bold mb-15">Dynamic and
                interactive</p>
              <p>Empower your users with
                <br />
                cloud-native technology<br />
                <span class="font-weight-semi-bold font-color-brand-one">built for
                  live use</span>
              </p>
            </div>
            <div
              class="col-md-6 col-lg-4 mb-60 df-mb-ml-30 text-align-center"
              data-aos="fade-up"
            >
              <div class="lottie-wrapper lottie-wrapper--small">
                <lottie-player
                  autoplay
                  loop
                  mode="normal"
                  src="assets/lottie/built-for-the-community.json"
                  style="height: auto;"
                ></lottie-player>
              </div>
              <p class="font-size-l2r font-weight-semi-bold mb-15">Designed for
                collaboration</p>
              <p>Align your organisation<br class="d-n-t-o" />
                through shared control of
                <br />
                <span
                  class="font-weight-semi-bold font-color-brand-one"
                >front-to-back processes</span>
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- -->

      <section
        class="pt-110 pb-10 text-align-center position-relative background-color-brand-aux-six"
      >
        <div class="body-curve">
          <canvas
            data-primary-color="#4d6f88"
            data-secondary-color="#4d6f88"
            data-top-shape-svg-url="/assets/svg/curve/curve-e-top.svg"
            data-top-shape-y-offset-percentage="0"
            data-margin-top-percentage-of-top-shape-height="0"
            data-bottom-shape-svg-url="/assets/svg/curve/curve-e-bottom-alt-1.svg"
            data-bottom-shape-y-offset-percentage="0.1"
            data-margin-bottom-percentage-of-bottom-shape-height="0"
          ></canvas>
        </div>
        <div class="container body-curve-content">
          <div class="row">
            <div class="col-md-12">
              <p
                class="font-weight-semi-bold mb-20 font-color-brand-aux-five"
                data-aos="fade-up"
              >Ready to roll?</p>
            </div>
          </div>
          <div class="row mb-60">
            <div class="col-md-12 mb-25">
              <h2
                class="font-color-brand-aux-two font-size-l6r"
                data-aos="fade-up"
              >Take Rosetta for a spin.
                <br class="display-none d-b-m-o" /><span
                  class="font-color-brand-aux-five"
                >It's on us.</span>​
              </h2>
            </div>
            <div class="col-md-12 mb-25">
              <div class="button-card mb-20" data-aos="fade-up">
                <a
                  href="{{ config.externalLinks.signUp }}"
                  class="button button--theme-a"
                >Sign up for free</a>
              </div>
              <div class="button-card mb-20" data-aos="fade-up">
                <a href="pricing" class="button button--theme-a">Buy now</a>
              </div>
            </div>
            <div class="col-md-12">
              <p
                class="font-size-m2 font-color-brand-aux-two"
                data-aos="fade-up"
              >Sign-up today and get started on your model development in seconds.
                <br class="d-n-m-o d-n-ml-o" />Our free version comes with no time
                limit and no credit card required.
                <br class="d-n-m-o d-n-i-o" />And Rosetta can then grow with your
                enterprise use. ​​​</p>
            </div>
          </div>
        </div>
      </section>

      <!-- -->

      {{> footer}}

      <!-- -->

      <div class="mini-header-trigger"></div>

    </div>

    <!-- -->

    {{> scripts}}

  </body>

</html>