<!DOCTYPE html>
<html lang="en">

	{{> header title="Pricing - Rosetta"}}

	<body>
		
		<!-- -->

		{{> page_header}}

        <!-- -->

        <section class="pt-160 pb-90 position-relative">

			<div class="body-curve">
				<canvas 
					data-primary-color="#ea409d"
					data-secondary-color="#ea409d"
					data-top-shape-svg-url="/assets/svg/curve/curve-a-top.svg"
					data-top-shape-y-offset-percentage="0"
					data-margin-top-percentage-of-top-shape-height="0"
					data-bottom-shape-svg-url="/assets/svg/curve/curve-a-bottom.svg"
					data-bottom-shape-y-offset-percentage="0.7"
					data-margin-bottom-percentage-of-bottom-shape-height="0"
				></canvas>
			</div>
            <div class="container body-curve-content">
                <div class="row">
                    <div class="col-md-12">
                        <p class="font-size-m7 mb-0 font-color-brand-aux-two">Rosetta</p>
                        <h1 class="font-size-xl2 font-color-brand-aux-two mb-45">Package plans</h1>
                        <p class="font-color-brand-aux-two">For all needs, from community to enterprise</p>
                    </div>
                </div>
            </div>
        </section>

		<!-- -->
	
		<!-- Pricing table. -->
		<section class="pricing-table pb-40">
			<div class="container">

				<div class="row pricing-table__header-levels">
					<div class="col-md-9 pricing-table__header-levels--core pr-7-5">
						<div class="inset">
							<p class="mb-0 font-weight-semi-bold font-color-brand-aux-two">Core SDK</p>
						</div>
						<div class="color-fill-expansion"></div>
					</div>
					<div class="col-md-3 pricing-table__header-levels--advanced pl-7-5">
						<div class="inset">
							<p class="mb-0 font-weight-semi-bold font-color-brand-aux-two">Advanced</p>
						</div>
						<div class="color-fill-expansion"></div>
					</div>
				</div>

				<div class="row pricing-table__header">
					<div class="col-md-3 pricing-table__header-column pr-7-5">
						<div class="pricing-table__header-column-inset">
							<p 
								class="pricing-table__header-column-heading font-size-l3 font-weight-semi-bold mb-20 font-color-brand-aux-five heading-height-reference" 
								data-aos="fade-right"
							>
								Community
							</p>
							<div class="pricing-table__header-column-price-container">
								<p class="pricing-table__header-column-price font-color-brand-aux-two font-size-l5 font-weight-light">Free</p>
								<p class="pricing-table__header-column-price-note font-color-brand-aux-two font-size-m3">For open source contribution</p>
							</div>
							<a href="https://ui.rosetta-technology.io/#/register" class="button button--theme-b pricing-table__header-column-button">Sign up today</a>
						</div>
					</div>
					<div class="col-md-3 pricing-table__header-column pl-7-5 pr-7-5">
						<div class="pricing-table__header-column-inset">
							<p 
								class="pricing-table__header-column-heading font-size-l3 font-weight-semi-bold mb-20 font-color-brand-aux-five" 
								data-aos="fade-right"
							>
								Pro
							</p>
							<div class="pricing-table__header-column-price-container">
								<p class="pricing-table__header-column-price font-color-brand-aux-two font-size-l5 font-weight-light">&pound;990</p>
								<p class="pricing-table__header-column-price-note font-color-brand-aux-two font-size-m3">License per user</p>
							</div>
							<a href="contact-sales.html" class="button button--theme-b pricing-table__header-column-button">Contact sales</a>
						</div>
					</div>
					<div class="col-md-3 pricing-table__header-column pl-7-5 pr-7-5">
						<div class="pricing-table__header-column-inset">
							<p 
								class="pricing-table__header-column-heading font-size-l3 font-weight-semi-bold mb-20 font-color-brand-aux-five" 
								data-aos="fade-right"
							>
								Enterprise
							</p>
							<div class="pricing-table__header-column-price-container">
								<p class="pricing-table__header-column-price font-color-brand-aux-two font-size-l5 font-weight-light">&pound;1990</p>
								<p class="pricing-table__header-column-price-note font-color-brand-aux-two font-size-m3">Unlimited users</p>
							</div>
							<a href="contact-sales.html" class="button button--theme-b pricing-table__header-column-button">Contact sales</a>
						</div>
					</div>
					<div class="col-md-3 pricing-table__header-column pl-7-5">
						<div class="pricing-table__header-column-inset">
							<p 
								class="pricing-table__header-column-heading font-size-l3 font-weight-semi-bold mb-20 font-color-brand-aux-five" 
								data-aos="fade-right"
							>
								Control
							</p>
							<div class="pricing-table__header-column-price-container">
								<p class="pricing-table__header-column-price font-color-brand-aux-two font-size-l5 font-weight-light">&pound;2990</p>
								<p class="pricing-table__header-column-price-note font-color-brand-aux-two font-size-m3">Unlimited users</p>
							</div>
							<a href="contact-sales.html" class="button button--theme-b pricing-table__header-column-button">Contact sales</a>
						</div>
					</div>
				</div>

				<div class="row pricing-table__row-header">
					<div class="col-md-12">
						<div class="inset">
							<p>You are</p>
						</div>
					</div>
				</div>

				<div class="row pricing-table__row-content pricing-table__row-content--simple">
					<div class="col-md-3 pr-7-5">
						<div class="inset background-shade-1">
							<p class="font-weight-semi-bold">Engineering or Operations</p>
							<p>Non-commercial use</p>
						</div>
					</div>
					<div class="col-md-3 pl-7-5 pr-7-5">
						<div class="inset background-shade-1">
							<p class="font-weight-semi-bold">Engineering</p>
							<p>Commercial use</p>
						</div>
					</div>
					<div class="col-md-3 pl-7-5 pr-7-5">
						<div class="inset background-shade-1">
							<p class="font-weight-semi-bold">Engineering</p>
							<p>Commercial use</p>
						</div>
					</div>
					<div class="col-md-3 pl-7-5">
						<div class="inset background-shade-1">
							<p class="font-weight-semi-bold">Engineering or Operations</p>
							<p>Commercial use</p>
						</div>
					</div>
				</div>

				<div class="row pricing-table__row-header">
					<div class="col-md-12">
						<div class="inset">
							<p>Deployment</p>
						</div>
					</div>
				</div>

				<div class="row pricing-table__row-content">
					<div class="col-md-3 pr-7-5">
						<div class="inset background-shade-1">
							<p class="font-weight-semi-bold">Hosted</p>
							<p>On-Prem: <a href="contact-sales.html" class="font-weight-semi-bold">Contact sales</a></p>
						</div>
					</div>
					<div class="col-md-9 pl-7-5">
						<div class="inset background-shade-1">
							<p class="font-weight-semi-bold">Hosted</p>
							<p>On-Prem: <a href="contact-sales.html" class="font-weight-semi-bold">Contact sales</a></p>
						</div>
					</div>
				</div>

				<div class="row pricing-table__row-header pricing-table__row-header--expandable" data-expandable-content-selector=".features-content-wrapper">
					<div class="col-md-12">
						<div class="inset">
							<p>Features</p>
						</div>
					</div>
				</div>

				<div class="pricing-table__row-content-wrapper features-content-wrapper">

					<div class="row pricing-table__row-content">
						<div class="col-md-3 pr-7-5">
							<div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-2">
								<img src="assets/svg/product/icons-static/product-design.svg" alt="Icon representing the Design feature.">
								<div>
									<p class="title font-weight-semi-bold">Design</p>
									<p class="subtitle unexpanded-content">Public Project Only</p>
									<ul class="expanded-content">
										<li>Public Project Only</li>
										<li>1 Workspace per Project</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-9 pl-7-5">
							<div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-3 padding-left-35pc">
								<img src="assets/svg/product/icons-static/product-design.svg" alt="Icon representing the Design feature.">
								<div>
									<p class="title font-weight-semi-bold">Design</p>
									<p class="subtitle unexpanded-content">Using Public Dictionary Only</p>
									<ul class="expanded-content">
										<li>Public + Private Project</li>
										<li>Unlimited Workspaces</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="row pricing-table__row-content">
						<div class="col-md-3 pr-7-5">
							<div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-2">
								<img src="assets/svg/product/icons-static/product-ingest.svg" alt="Icon representing the Ingest feature.">
								<div>
									<p class="title font-weight-semi-bold">Ingest</p>
									<p class="subtitle unexpanded-content">Using Public Dictionary Only</p>
									<ul class="expanded-content">
										<li>Using Public Dictionary Only</li>
										<li>Accessible via UI + API</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-9 pl-7-5">
							<div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-3 padding-left-35pc">
								<img src="assets/svg/product/icons-static/product-ingest.svg" alt="Icon representing the Ingest feature.">
								<div>
									<p class="title font-weight-semi-bold">Ingest</p>
									<p class="subtitle unexpanded-content">Using Public + Private Dictionary</p>
									<ul class="expanded-content">
										<li>Using Public + Private Dictionary</li>
										<li>Accessible via UI + API</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="row pricing-table__row-content">
						<div class="col-md-3 pr-7-5">
							<div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-2">
								<img src="assets/svg/product/icons-static/product-translate.svg" alt="Icon representing the Translate feature.">
								<div>
									<p class="title font-weight-semi-bold">Translate</p>
									<p class="subtitle unexpanded-content">Edit Public Dictionary Only</p>
									<ul class="expanded-content">
										<li>Edit Public Dictionary Only</li>
										<li>Edit Public Test Pack Only</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-9 pl-7-5">
							<div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-3 padding-left-35pc">
								<img src="assets/svg/product/icons-static/product-translate.svg" alt="Icon representing the Translate feature.">
								<div>
									<p class="title font-weight-semi-bold">Translate</p>
									<p class="subtitle unexpanded-content">Edit Public + Private Dictionary</p>
									<ul class="expanded-content">
										<li>Edit Public + Private Dictionary</li>
										<li>Edit Public + Private Test Pack </li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="row pricing-table__row-content">
						<div class="col-md-3 pr-7-5">
							<div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-2">
								<img src="assets/svg/product/icons-static/product-engine.svg" alt="Icon representing the Engine feature.">
								<div>
									<p class="title font-weight-semi-bold">Engine</p>
									<p class="subtitle unexpanded-content">Community Performance</p>
									<ul class="expanded-content">
										<li>Shared H/W</li>
										<li>Manual Execution</li>
										<li>Volume Limit: [X/day]</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3 pl-7-5 pr-7-5">
							<div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-2">
								<img src="assets/svg/product/icons-static/product-engine.svg" alt="Icon representing the Engine feature.">
								<div>
									<p class="title font-weight-semi-bold">Engine</p>
									<p class="subtitle unexpanded-content">Pro Performance</p>
									<ul class="expanded-content">
										<li>Shared H/W</li>
										<li>Manual Execution</li>
										<li>Volume Limit: [X/day]</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6 pl-7-5">
							<div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-4 padding-left-35pc">
								<img src="assets/svg/product/icons-static/product-engine.svg" alt="Icon representing the Engine feature.">
								<div>
									<p class="title font-weight-semi-bold">Engine</p>
									<p class="subtitle unexpanded-content">Enterprise Performance</p>
									<ul class="expanded-content">
										<li>Dedicated H/W</li>
										<li>Continuous Execution</li>
										<li>Volume Limit: [X/day]</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="row pricing-table__row-content">
						<div class="offset-md-9 col-md-3 pl-7-5">
							<div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-5">
								<img src="assets/svg/product/icons-static/product-monitor.svg" alt="Icon representing the Monitor feature.">
								<div>
									<p class="title font-weight-semi-bold">Monitor</p>
									<p class="subtitle unexpanded-content">Analyse Engine Results</p>
									<ul class="expanded-content">
										<li>Data Traceability Tool</li>
										<li>Rule Auditability Tool</li>
										<li>Accessible via UI + API</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="row pricing-table__row-content">
						<div class="offset-md-6 col-md-6 pl-7-5">
							<div class="pricing-table__row-content-inset pricing-table__row-content-inset--two-col-with-icon background-shade-6 padding-left-35pc">
								<img src="assets/svg/product/icons-static/product-deploy.svg" alt="Icon representing the Deploy feature.">
								<div>
									<p class="title font-weight-semi-bold">Deploy</p>
									<p class="subtitle unexpanded-content">Additional Option: <a href="contact-sales.html" class="font-weight-semi-bold">Contact sales</a></p>
									<ul class="expanded-content">
										<li>Additional Option: <a href="contact-sales.html" class="font-weight-semi-bold">Contact sales</a></li>
										<li>Test, build and release automation</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</section>
		<!-- End of Pricing table. -->

        <!-- -->

		<section class="pricing-blocks">

			<!-- Community. -->
			<div class="container pricing-block">
				<div class="pricing-block__header">
					<div class="pricing-block__header-level pricing-block__header-level--core">
						<p class="mb-0 font-weight-semi-bold font-color-brand-aux-two text-transform-uppercase">Core SDK</p>
					</div>
					<div class="pricing-block__header-package-level">
						<p class="font-size-l3 font-weight-semi-bold mb-0 font-color-brand-three">Community</p>
					</div>
					<div class="pricing-block__header-pricing">
						<div class="pricing-block__header-pricing-text">
							<p class="price mb-0 font-color-brand-aux-two font-weight-light">FREE</p>
							<p class="note mb-0 font-color-brand-aux-two font-size-m4">For open source contribution</p>
						</div>
						<div class="pricing-block__header-pricing-button">
							<a href="#" class="button button--theme-b pricing-block__header-button block-expander">See details</a>
						</div>
					</div>
				</div>
				
				<div class="pricing-block__body">
					<div class="pricing-block__body-row">
						<div class="mb-15 pricing-block__body-row-header">
							<p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">You are</p>
						</div>
						<div class="mb-15 pricing-block__body-row-body">
							<div class="pricing-block__body-row-body-inset pt-10 pb-10 background-shade-1 text-align-center">
								<p class="mb-0 font-weight-semi-bold font-size-m4">Engineering or Operations</p>
								<p class="mb-0 font-size-m4">Non-commercial use</p>
							</div>
						</div>
					</div>

					<div class="pricing-block__body-row">
						<div class="mb-15 pricing-block__body-row-header">
							<p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">Deployment</p>
						</div>
						<div class="mb-15 pricing-block__body-row-body">
							<div class="pricing-block__body-row-body-inset pt-10 pb-10 background-shade-1 text-align-center">
								<p class="mb-0 font-weight-semi-bold font-size-m4">Hosted</p>
								<p class="mb-0 font-size-m4">On-Prem: <a href="contact-sales.html" class="font-weight-semi-bold">Contact sales</a></p>
							</div>
						</div>
					</div>

					<div class="pricing-block__body-row">
						<div class="pricing-block__body-row-header pricing-block__body-row-header--expandable mb-15">
							<p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">Features</p>
						</div>
						<div class="pricing-block__body-row-body">
							<div class="pricing-block__body-row-body-features">

								<div class="pricing-block__body-row-body-feature mb-15">
									<div class="pricing-block__body-row-body-feature-inset background-shade-3">
										<div class="inset-content">
											<img src="assets/svg/product/icons-static/product-design.svg" alt="Icon representing the Design feature.">
											<div>
												<p class="title font-weight-semi-bold font-size-m6">Design</p>
												<p class="subtitle unexpanded-content font-size-m3 mb-0">Public Project Only</p>
												<ul class="expanded-content">
													<li>Public Project Only</li>
													<li>1 Workspace per Project</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="pricing-block__body-row-body-feature mb-15">
									<div class="pricing-block__body-row-body-feature-inset background-shade-3">
										<div class="inset-content">
											<img src="assets/svg/product/icons-static/product-ingest.svg" alt="Icon representing the Ingest feature.">
											<div>
												<p class="title font-weight-semi-bold font-size-m6">Ingest</p>
												<p class="subtitle unexpanded-content font-size-m3 mb-0">Public Project Only</p>
												<ul class="expanded-content">
													<li>Public Project Only</li>
													<li>1 Workspace per Project</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="pricing-block__body-row-body-feature mb-15">
									<div class="pricing-block__body-row-body-feature-inset background-shade-3">
										<div class="inset-content">
											<img src="assets/svg/product/icons-static/product-translate.svg" alt="Icon representing the Translate feature.">
											<div>
												<p class="title font-weight-semi-bold font-size-m6">Translate</p>
												<p class="subtitle unexpanded-content font-size-m3 mb-0">Public Project Only</p>
												<ul class="expanded-content">
													<li>Public Project Only</li>
													<li>1 Workspace per Project</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="pricing-block__body-row-body-feature mb-15">
									<div class="pricing-block__body-row-body-feature-inset background-shade-4">
										<div class="inset-content">
											<img src="assets/svg/product/icons-static/product-engine.svg" alt="Icon representing the Engine feature.">
											<div>
												<p class="title font-weight-semi-bold font-size-m6">Engine</p>
												<p class="subtitle unexpanded-content font-size-m3 mb-0">Public Project Only</p>
												<ul class="expanded-content">
													<li>Public Project Only</li>
													<li>1 Workspace per Project</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="pricing-block__body-row-body-feature mb-15">
									<div class="pricing-block__body-row-body-feature-inset background-shade-5">
										<div class="inset-content">
											<img src="assets/svg/product/icons-static/product-monitor.svg" alt="Icon representing the Monitor feature.">
											<div>
												<p class="title font-weight-semi-bold font-size-m6">Monitor</p>
												<p class="subtitle unexpanded-content font-size-m3 mb-0">Public Project Only</p>
												<ul class="expanded-content">
													<li>Public Project Only</li>
													<li>1 Workspace per Project</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="pricing-block__body-row-body-feature mb-15">
									<div class="pricing-block__body-row-body-feature-inset background-shade-6">
										<div class="inset-content">
											<img src="assets/svg/product/icons-static/product-deploy.svg" alt="Icon representing the Deploy feature.">
											<div>
												<p class="title font-weight-semi-bold font-size-m6">Deploy</p>
												<p class="subtitle unexpanded-content font-size-m3 mb-0">Public Project Only</p>
												<ul class="expanded-content">
													<li>Public Project Only</li>
													<li>1 Workspace per Project</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="pricing-block__body-row pb-20">
						<a href="https://ui.rosetta-technology.io/#/register" target="_blank" class="button button--theme-b pricing-block__body-button">Sign up today</a>
					</div>
				</div>
			</div>
			<!-- End of Community. -->

			<div class="container block-divider"></div>

			<!-- Pro. -->
			<div class="container pricing-block">
				<div class="pricing-block__header">
					<div class="pricing-block__header-level pricing-block__header-level--core">
						<p class="mb-0 font-weight-semi-bold font-color-brand-aux-two text-transform-uppercase">Core SDK</p>
					</div>
					<div class="pricing-block__header-package-level">
						<p class="font-size-l3 font-weight-semi-bold mb-0 font-color-brand-three">Pro</p>
					</div>
					<div class="pricing-block__header-pricing">
						<div class="pricing-block__header-pricing-text">
							<p class="price mb-0 font-color-brand-aux-two font-weight-light">&pound;990</p>
							<p class="note mb-0 font-color-brand-aux-two font-size-m4">Unlimited users</p>
						</div>
						<div class="pricing-block__header-pricing-button">
							<a href="https://ui.rosetta-technology.io/#/register" target="_blank" class="button button--theme-b pricing-block__header-button block-expander">See details</a>
						</div>
					</div>
				</div>
				<div class="pricing-block__body">

					<div class="pricing-block__body-row">
						<div class="mb-15 pricing-block__body-row-header">
							<p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">You are</p>
						</div>
						<div class="mb-15 pricing-block__body-row-body">
							<div class="pricing-block__body-row-body-inset pt-10 pb-10 background-shade-1 text-align-center">
								<p class="mb-0 font-weight-semi-bold font-size-m4">Engineering</p>
								<p class="mb-0 font-size-m4">Commercial use</p>
							</div>
						</div>
					</div>

					<div class="pricing-block__body-row">
						<div class="mb-15 pricing-block__body-row-header">
							<p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">Deployment</p>
						</div>
						<div class="mb-15 pricing-block__body-row-body">
							<div class="pricing-block__body-row-body-inset pt-10 pb-10 background-shade-1 text-align-center">
								<p class="mb-0 font-weight-semi-bold font-size-m4">Hosted</p>
								<p class="mb-0 font-size-m4">On-Prem: <a href="contact-sales.html" class="font-weight-semi-bold">Contact sales</a></p>
							</div>
						</div>
					</div>

					<div class="pricing-block__body-row">
						<div class="pricing-block__body-row-header pricing-block__body-row-header--expandable mb-15">
							<p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">Features</p>
						</div>
						<div class="pricing-block__body-row-body">
							<div class="pricing-block__body-row-body-features">

								<div class="pricing-block__body-row-body-feature mb-15">
									<div class="pricing-block__body-row-body-feature-inset background-shade-3">
										<div class="inset-content">
											<img src="assets/svg/product/icons-static/product-design.svg" alt="Icon representing the Design feature.">
											<div>
												<p class="title font-weight-semi-bold font-size-m6">Design</p>
												<p class="subtitle unexpanded-content font-size-m3 mb-0">Public + Private Project</p>
												<ul class="expanded-content">
													<li>Public + Private Project</li>
													<li>Unlimted Workspaces</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="pricing-block__body-row-body-feature mb-15">
									<div class="pricing-block__body-row-body-feature-inset background-shade-3">
										<div class="inset-content">
											<img src="assets/svg/product/icons-static/product-ingest.svg" alt="Icon representing the Ingest feature.">
											<div>
												<p class="title font-weight-semi-bold font-size-m6">Ingest</p>
												<p class="subtitle unexpanded-content font-size-m3 mb-0">Using Public + Private Dictionary</p>
												<ul class="expanded-content">
													<li>Using Public + Private Dictionary</li>
													<li>Accessible via UI + API</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="pricing-block__body-row-body-feature mb-15">
									<div class="pricing-block__body-row-body-feature-inset background-shade-3">
										<div class="inset-content">
											<img src="assets/svg/product/icons-static/product-translate.svg" alt="Icon representing the Translate feature.">
											<div>
												<p class="title font-weight-semi-bold font-size-m6">Translate</p>
												<p class="subtitle unexpanded-content font-size-m3 mb-0">Edit Public + Private Dictionary</p>
												<ul class="expanded-content">
													<li>Edit Public + Private Dictionary</li>
													<li>Edit Public + Private Test Pack</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="pricing-block__body-row-body-feature mb-15">
									<div class="pricing-block__body-row-body-feature-inset background-shade-4">
										<div class="inset-content">
											<img src="assets/svg/product/icons-static/product-engine.svg" alt="Icon representing the Engine feature.">
											<div>
												<p class="title font-weight-semi-bold font-size-m6">Engine</p>
												<p class="subtitle unexpanded-content font-size-m3 mb-0">Enterprise Performance</p>
												<ul class="expanded-content">
													<li>Dedicated H/W</li>
													<li>Continuous Execution</li>
													<li>Volume Limit: [X/day]</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="pricing-block__body-row pb-20">
						<a href="https://ui.rosetta-technology.io/#/register" class="button button--theme-b pricing-block__body-button">Sign up today</a>
					</div>
				</div>
			</div>
			<!-- End of Pro. -->

			<div class="container block-divider"></div>

			<!-- Enterprise. -->
			<div class="container pricing-block">
				<div class="pricing-block__header">
					<div class="pricing-block__header-level pricing-block__header-level--core">
						<p class="mb-0 font-weight-semi-bold font-color-brand-aux-two text-transform-uppercase">Core SDK</p>
					</div>
					<div class="pricing-block__header-package-level">
						<p class="font-size-l3 font-weight-semi-bold mb-0 font-color-brand-three">Enterprise</p>
					</div>
					<div class="pricing-block__header-pricing">
						<div class="pricing-block__header-pricing-text">
							<p class="price mb-0 font-color-brand-aux-two font-weight-light">&pound;1990</p>
							<p class="note mb-0 font-color-brand-aux-two font-size-m4">Unlimited users</p>
						</div>
						<div class="pricing-block__header-pricing-button">
							<a href="#" class="button button--theme-b pricing-block__header-button block-expander">See details</a>
						</div>
					</div>
				</div>
				<div class="pricing-block__body">

					<div class="pricing-block__body-row">
						<div class="mb-15 pricing-block__body-row-header">
							<p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">You are</p>
						</div>
						<div class="mb-15 pricing-block__body-row-body">
							<div class="pricing-block__body-row-body-inset pt-10 pb-10 background-shade-1 text-align-center">
								<p class="mb-0 font-weight-semi-bold font-size-m4">Engineering</p>
								<p class="mb-0 font-size-m4">Commercial use</p>
							</div>
						</div>
					</div>

					<div class="pricing-block__body-row">
						<div class="mb-15 pricing-block__body-row-header">
							<p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">Deployment</p>
						</div>
						<div class="mb-15 pricing-block__body-row-body">
							<div class="pricing-block__body-row-body-inset pt-10 pb-10 background-shade-1 text-align-center">
								<p class="mb-0 font-weight-semi-bold font-size-m4">Hosted</p>
								<p class="mb-0 font-size-m4">On-Prem: <a href="contact-sales.html" class="font-weight-semi-bold">Contact sales</a></p>
							</div>
						</div>
					</div>

					<div class="pricing-block__body-row">
						<div class="pricing-block__body-row-header pricing-block__body-row-header--expandable mb-15">
							<p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">Features</p>
						</div>
						<div class="pricing-block__body-row-body">
							<div class="pricing-block__body-row-body-features">

								<div class="pricing-block__body-row-body-feature mb-15">
									<div class="pricing-block__body-row-body-feature-inset background-shade-3">
										<div class="inset-content">
											<img src="assets/svg/product/icons-static/product-design.svg" alt="Icon representing the Design feature.">
											<div>
												<p class="title font-weight-semi-bold font-size-m6">Design</p>
												<p class="subtitle unexpanded-content font-size-m3 mb-0">Public + Private Project</p>
												<ul class="expanded-content">
													<li>Public + Private Project</li>
													<li>Unlimted Workspaces</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="pricing-block__body-row-body-feature mb-15">
									<div class="pricing-block__body-row-body-feature-inset background-shade-3">
										<div class="inset-content">
											<img src="assets/svg/product/icons-static/product-ingest.svg" alt="Icon representing the Ingest feature.">
											<div>
												<p class="title font-weight-semi-bold font-size-m6">Ingest</p>
												<p class="subtitle unexpanded-content font-size-m3 mb-0">Using Public + Private Dictionary</p>
												<ul class="expanded-content">
													<li>Using Public + Private Dictionary</li>
													<li>Accessible via UI + API</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="pricing-block__body-row-body-feature mb-15">
									<div class="pricing-block__body-row-body-feature-inset background-shade-3">
										<div class="inset-content">
											<img src="assets/svg/product/icons-static/product-translate.svg" alt="Icon representing the Translate feature.">
											<div>
												<p class="title font-weight-semi-bold font-size-m6">Translate</p>
												<p class="subtitle unexpanded-content font-size-m3 mb-0">Edit Public + Private Dictionary</p>
												<ul class="expanded-content">
													<li>Edit Public + Private Dictionary</li>
													<li>Edit Public + Private Test Pack</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="pricing-block__body-row-body-feature mb-15">
									<div class="pricing-block__body-row-body-feature-inset background-shade-4">
										<div class="inset-content">
											<img src="assets/svg/product/icons-static/product-engine.svg" alt="Icon representing the Engine feature.">
											<div>
												<p class="title font-weight-semi-bold font-size-m6">Engine</p>
												<p class="subtitle unexpanded-content font-size-m3 mb-0">Enterprise Performance</p>
												<ul class="expanded-content">
													<li>Dedicated H/W</li>
													<li>Continuous Execution</li>
													<li>Volume Limit: [X/day]</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="pricing-block__body-row-body-feature mb-15">
									<div class="pricing-block__body-row-body-feature-inset background-shade-6">
										<div class="inset-content">
											<img src="assets/svg/product/icons-static/product-deploy.svg" alt="Icon representing the Deploy feature.">
											<div>
												<p class="title font-weight-semi-bold font-size-m6">Deploy</p>
												<p class="subtitle unexpanded-content font-size-m3 mb-0">Additional Option: <a href="contact-sales.html" class="font-weight-semi-bold">Contact sales</a></p>
												<ul class="expanded-content">
													<li>Additional Option: <a href="contact-sales.html" class="font-weight-semi-bold">Contact sales</a></li>
													<li>Test, build and release automation</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="pricing-block__body-row pb-20">
						<a href="contact-sales.html" class="button button--theme-b pricing-block__body-button" target="_blank">Sign up today</a>
					</div>
				</div>
			</div>
			<!-- End of Enterprise. -->

			<div class="container block-divider"></div>

			<!-- Control. -->
			<div class="container pricing-block">
				<div class="pricing-block__header">
					<div class="pricing-block__header-level pricing-block__header-level--advanced">
						<p class="mb-0 font-weight-semi-bold font-color-brand-aux-two text-transform-uppercase">Advanced</p>
					</div>
					<div class="pricing-block__header-package-level">
						<p class="font-size-l3 font-weight-semi-bold mb-0 font-color-brand-three">Control</p>
					</div>
					<div class="pricing-block__header-pricing">
						<div class="pricing-block__header-pricing-text">
							<p class="price mb-0 font-color-brand-aux-two font-weight-light">&pound;2990</p>
							<p class="note mb-0 font-color-brand-aux-two font-size-m4">Unlimited users</p>
						</div>
						<div class="pricing-block__header-pricing-button">
							<a href="contact-sales.html" class="button button--theme-b pricing-block__header-button block-expander">See details</a>
						</div>
					</div>
				</div>
				<div class="pricing-block__body">

					<div class="pricing-block__body-row">
						<div class="mb-15 pricing-block__body-row-header">
							<p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">You are</p>
						</div>
						<div class="mb-15 pricing-block__body-row-body">
							<div class="pricing-block__body-row-body-inset pt-10 pb-10 background-shade-1 text-align-center">
								<p class="mb-0 font-weight-semi-bold font-size-m4">Engineering or Operations</p>
								<p class="mb-0 font-size-m4">Commercial use</p>
							</div>
						</div>
					</div>

					<div class="pricing-block__body-row">
						<div class="mb-15 pricing-block__body-row-header">
							<p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">Deployment</p>
						</div>
						<div class="mb-15 pricing-block__body-row-body">
							<div class="pricing-block__body-row-body-inset pt-10 pb-10 background-shade-1 text-align-center">
								<p class="mb-0 font-weight-semi-bold font-size-m4">Hosted</p>
								<p class="mb-0 font-size-m4">On-Prem: <a href="contact-sales.html" class="font-weight-semi-bold">Contact sales</a></p>
							</div>
						</div>
					</div>

					<div class="pricing-block__body-row">
						<div class="pricing-block__body-row-header pricing-block__body-row-header--expandable mb-15">
							<p class="mb-0 font-color-brand-two font-weight-semi-bold font-size-m5">Features</p>
						</div>
						<div class="pricing-block__body-row-body">
							<div class="pricing-block__body-row-body-features">

								<div class="pricing-block__body-row-body-feature mb-15">
									<div class="pricing-block__body-row-body-feature-inset background-shade-3">
										<div class="inset-content">
											<img src="assets/svg/product/icons-static/product-design.svg" alt="Icon representing the Design feature.">
											<div>
												<p class="title font-weight-semi-bold font-size-m6">Design</p>
												<p class="subtitle unexpanded-content font-size-m3 mb-0">Public + Private Project</p>
												<ul class="expanded-content">
													<li>Public + Private Project</li>
													<li>Unlimted Workspaces</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="pricing-block__body-row-body-feature mb-15">
									<div class="pricing-block__body-row-body-feature-inset background-shade-3">
										<div class="inset-content">
											<img src="assets/svg/product/icons-static/product-ingest.svg" alt="Icon representing the Ingest feature.">
											<div>
												<p class="title font-weight-semi-bold font-size-m6">Ingest</p>
												<p class="subtitle unexpanded-content font-size-m3 mb-0">Using Public + Private Dictionary</p>
												<ul class="expanded-content">
													<li>Using Public + Private Dictionary</li>
													<li>Accessible via UI + API</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="pricing-block__body-row-body-feature mb-15">
									<div class="pricing-block__body-row-body-feature-inset background-shade-3">
										<div class="inset-content">
											<img src="assets/svg/product/icons-static/product-translate.svg" alt="Icon representing the Translate feature.">
											<div>
												<p class="title font-weight-semi-bold font-size-m6">Translate</p>
												<p class="subtitle unexpanded-content font-size-m3 mb-0">Edit Public + Private Dictionary</p>
												<ul class="expanded-content">
													<li>Edit Public + Private Dictionary</li>
													<li>Edit Public + Private Test Pack</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="pricing-block__body-row-body-feature mb-15">
									<div class="pricing-block__body-row-body-feature-inset background-shade-4">
										<div class="inset-content">
											<img src="assets/svg/product/icons-static/product-engine.svg" alt="Icon representing the Engine feature.">
											<div>
												<p class="title font-weight-semi-bold font-size-m6">Engine</p>
												<p class="subtitle unexpanded-content font-size-m3 mb-0">Enterprise Performance</p>
												<ul class="expanded-content">
													<li>Dedicated H/W</li>
													<li>Continuous Execution</li>
													<li>Volume Limit: [X/day]</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="pricing-block__body-row-body-feature mb-15">
									<div class="pricing-block__body-row-body-feature-inset background-shade-5">
										<div class="inset-content">
											<img src="assets/svg/product/icons-static/product-monitor.svg" alt="Icon representing the Monitor feature.">
											<div>
												<p class="title font-weight-semi-bold font-size-m6">Monitor</p>
												<p class="subtitle unexpanded-content font-size-m3 mb-0">Analyse Engine Results</p>
												<ul class="expanded-content">
													<li>Data Traceability Tool</li>
													<li>Rule Auditability Tool</li>
													<li>Accessible via UI + API</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="pricing-block__body-row-body-feature mb-15">
									<div class="pricing-block__body-row-body-feature-inset background-shade-6">
										<div class="inset-content">
											<img src="assets/svg/product/icons-static/product-deploy.svg" alt="Icon representing the Deploy feature.">
											<div>
												<p class="title font-weight-semi-bold font-size-m6">Deploy</p>
												<p class="subtitle unexpanded-content font-size-m3 mb-0">Additional Option: <a href="contact-sales.html" class="font-weight-semi-bold">Contact sales</a></p>
												<ul class="expanded-content">
													<li>Additional Option: <a href="contact-sales.html" class="font-weight-semi-bold">Contact sales</a></li>
													<li>Test, build and release automation</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="pricing-block__body-row pb-20">
						<a href="contact-sales.html" class="button button--theme-b pricing-block__body-button">Sign up today</a>
					</div>
				</div>
			</div>
			<!-- End of Control. -->

		</section>

        <!-- -->

		<!--<section class="pt-110 pb-10 text-align-center position-relative">
			<div class="body-curve">
				<canvas 
					data-primary-color="#ea409d"
					data-secondary-color="#ee89c1"
					data-top-shape-svg-url="/assets/svg/curve/curve-e-top.svg"
					data-top-shape-y-offset-percentage="0"
					data-margin-top-percentage-of-top-shape-height="0"
					data-bottom-shape-svg-url="/assets/svg/curve/curve-e-bottom-alt-1.svg"
					data-bottom-shape-y-offset-percentage="0.1"
					data-margin-bottom-percentage-of-bottom-shape-height="0"
				></canvas>
			</div>
			<div class="container body-curve-content">
				<div class="row">
					<div class="col-md-12">
						<p class="font-weight-semi-bold mb-20 font-color-brand-two" data-aos="fade-up">Ready to roll?</p>
					</div>
				</div>
				<div class="row mb-60">
					<div class="col-md-12 mb-25">
						<h2 class="font-color-brand-aux-two font-size-l6r" data-aos="fade-up">Take Rosetta for a spin. 
							<br class="display-none d-b-m-o"><span class="font-color-brand-two">It's on us.</span>​
						</h2>
					</div>
					<div class="col-md-12 mb-25">
						<div class="button-card mb-20" data-aos="fade-up">
							<a href="https://ui.rosetta-technology.io/#/register" class="button">Sign up for free</a>
						</div>
					</div>
					<div class="col-md-12">
						<p class="font-size-m2 font-color-brand-aux-two" data-aos="fade-up">Sign-up today and get started on your model development in seconds. 
                            <br class="d-n-m-o d-n-ml-o">Our free version comes with no time limit and no credit card required. 
                            <br class="d-n-m-o d-n-i-o">And Rosetta can then grow with your enterprise use.
                        ​​​</p>
					</div>
				</div>
			</div>
		</section>-->

		<!-- -->

		{{> footer}}

		<!-- -->

		<div class="mini-header-trigger"></div>

		<!-- -->

		{{> breakpoint_assistant}}

		<!-- -->

		<script src="assets/js/bundle.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous"></script>
		<script>//AOS.init({duration: 800, once: true});</script>

	</body>

</html>
