<!DOCTYPE html>
<html lang="en">

    {{> header title="Privacy Policy - Rosetta"}}


  <body>

    <div class="site-wrapper">

      <!-- -->

      {{> page_header}}

      <!-- -->

      <section class="homepage-hero-panel">
        <div class="graphic-header">
          <img
            class="graphic-header__curve graphic-header__curve--brand-one"
            src="assets/svg/common/header-curve.svg"
            alt="Graphic of curve for aesthetics"
            style="margin-top: 0px"
          />
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="font-size-xl2 font-color-brand-one mb-20">REGnosys
                <br />
                Privacy Policy</h1>
            </div>
          </div>
        </div>
      </section>

      <!-- -->

      <section class="container">
        <div class="row">
          <div class="col-md-12">



          </div>
        </div>

      </section>

      <!-- -->
      
      <section class="pt-100 pb-250 text-align-center position-relative">
        <div class="body-curve">
          <canvas
            data-primary-color="#bddc5e"
            data-secondary-color="#e5f1bf"
            data-top-shape-svg-url="/assets/svg/curve/curve-f-top.svg"
            data-top-shape-y-offset-percentage="0"
            data-margin-top-percentage-of-top-shape-height="0.2"
            data-bottom-shape-svg-url="/assets/svg/curve/curve-e-bottom-alt-1.svg"
            data-bottom-shape-y-offset-percentage="0.1"
            data-margin-bottom-percentage-of-bottom-shape-height="0"
          ></canvas>
        </div>
        <div class="body-curve-content"></div>
      </section>

      <!-- -->

      {{> footer}}

      <!-- -->

      <div class="mini-header-trigger"></div>

    </div>

    <!-- -->

    {{> scripts}}

  </body>

</html>
