<!DOCTYPE html>
<html lang="en">

  {{> header title="Terms of Use - Rosetta"}}

  <body>

    <div class="site-wrapper">

      <!-- -->

      {{> page_header}}

      <!-- -->

      <section class="homepage-hero-panel">

        <div class="graphic-header">
          <img
            class="graphic-header__curve graphic-header__curve--brand-one"
            src="assets/svg/common/header-curve.svg"
            alt="Graphic of curve for aesthetics"
            style="margin-top: 0px"
          />
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="font-size-xl2 font-color-brand-one mb-20">REGnosys
                <br />
                Terms of Use</h1>
            </div>
          </div>
        </div>
      </section>

      <!-- -->

      <section class="container">
        <div class="row">
          <div class="col-md-12">
            <ol class="ordered-list--large">
              <li>
                <span class="font-weight-semi-bold display-inline-block mb-10">Welcome</span>
                <ol class="ordered-list--medium">
                  <li>
                    REGnosys Limited ("<span
                      class="font-weight-semi-bold"
                    >REGnosys</span>", "<span
                      class="font-weight-semi-bold"
                    >we</span>", "<span
                      class="font-weight-semi-bold"
                    >our</span>", or "<span
                      class="font-weight-semi-bold"
                    >us</span>") operates the
                    <a
                      href="http://www.regnosys.com"
                      target="_blank"
                    >www.regnosys.com</a>
                    website (the "<span
                      class="font-weight-semi-bold"
                    >REGnosys</span>
                    <span class="font-weight-semi-bold">Site</span>") and the
                    <a
                      href="http://www.rosetta-technology.io"
                      target="_blank"
                    >www.rosetta-technology.io</a>
                    website (the "<span class="font-weight-semi-bold">Rosetta
                      Site</span>")(together, the "<strong>Sites</strong>").
                  </li>

                  <li>See
                    <a href="#information-about-us">"Information About Us"</a>
                    for details of who we are.</li>
                </ol>
              </li>

              <li>
                <span class="font-weight-semi-bold display-inline-block mb-10">Your relationship with us</span>
                <ol class="ordered-list--medium">
                  <li>This document and any documents referred to within it
                    (collectively, the "<span
                      class="font-weight-semi-bold"
                    >Terms of Use</span>") set out the terms of your
                    relationship with us whilst browsing on the Sites. It is
                    important that you read and understand these Terms of Use
                    before using the Sites.</li>
                  <li>By using and accessing the Sites, you agree to these Terms
                    of Use. If you do not agree to these Terms of Use, please do
                    not use the Sites.</li>
                </ol>
              </li>

              <li>
                <span
                  id="information-about-us"
                  class="font-weight-semi-bold display-inline-block mb-10"
                >Information about us</span>
                <ol class="ordered-list--medium">
                  <li>
                    REGnosys Limited is a company registered in England with its
                    registered address at 85 Great Portland Street, London,
                    England, W1W 7LT.</li>
                </ol>
              </li>
              <li><span class="font-weight-semi-bold display-inline-block mb-10">Information about you</span><ol
                  class="ordered-list--medium"
                ><li>Your privacy is important to us. Please read our
                    <a href="privacy-statement">Privacy Statement</a>to
                    understand how we collect, use and share information about
                    you.</li></ol></li>

              <li><span class="font-weight-semi-bold display-inline-block mb-10">Your right to use the Sites</span><ol
                  class="ordered-list--medium"
                ><li>You must be 18 years or older and capable in your country of
                    residence of entering into a legally binding agreement to
                    use the Sites.</li>
                  <li>The materials and content comprising the Sites belong to us
                    or our third party licensors, and we give you permission to
                    use these materials and content for the sole purpose of
                    using the Sites in accordance with these Terms of Use.</li>
                  <li>Your right to use the Sites: is personal to you and you are
                    not allowed to give this right to another person; and does
                    not stop us from giving other people the right to use the
                    Sites.</li>
                  <li>Unless allowed by these Terms of Use and as permitted by the
                    functionality of the Sites, you agree:</li>
                  <li>not to copy, or attempt to copy any portion of the Sites;</li>
                  <li>not to give or sell or otherwise make available any portion
                    of the Sites to anybody else;</li>
                  <li>not to change, or attempt to change any portion of the Sites
                    in any way;</li>
                  <li>not to look for or access the code of any portion of the
                    Sites that we have not expressly published publicly for
                    general use.</li>
                  <li>You agree that all confidential information, copyright and
                    other intellectual property rights in the Sites belong to us
                    or the people who have licenced those rights to us.</li>
                  <li>You agree that you have no rights in or to any portion of
                    the Sites other than the right to use it in accordance with
                    these Terms of Use.</li></ol></li>

              <li><span class="font-weight-semi-bold display-inline-block mb-10">Additional terms</span><ol
                  class="ordered-list--medium"
                ><li>The Sites may contain links to further sites provided by third
                    parties on different terms and conditions to these Terms of
                    Use. You should be asked to agree to these further terms
                    before being granted access to these further sites. We are
                    not responsible for those further sites or your experience
                    with them.</li>
                  <li>We also operate the Rosetta software platform in addition to
                    the Sites. Access to that Rosetta software platform can be
                    made by registering then logging-in via the Rosetta Site and
                    requires the acceptance of further terms which govern your
                    use of the Rosetta software platform.</li></ol></li>

              <li><span class="font-weight-semi-bold display-inline-block mb-10">Rules of Acceptable Use</span><ol
                  class="ordered-list--medium"
                ><li>In addition to the other requirements within these Terms of
                    Use, this section describes specific rules that apply to
                    your use of the Sites (the "<span
                      class="font-weight-semi-bold"
                    >Rules of Acceptable Use</span>").</li>
                  <li>When using the Sites you must not:

                    <ol class="ordered-list--alpha">
                      <li>circumvent, disable or otherwise interfere with any
                        security related features of the Sites or misuse any
                        “Contact Us” (or similar) facility offered to users
                        of the Sites;</li>
                      <li>give any false or misleading information,
                        impersonate any person or permit any other person to
                        use the Sites under your name or on your behalf
                        unless such person is authorised by you;</li>
                      <li>modify, interfere, intercept, disrupt or hack the
                        Sites;</li>
                      <li>misuse the Sites by knowingly introducing viruses,
                        Trojans, worms, logic bombs or other material which
                        would harm the Sites or any user of the Sites' own
                        equipment;</li>
                      <li>collect any data from the Sites other than in
                        accordance with these Terms of Use; or</li>
                      <li>use any automated system, including without
                        limitation "robots", "spiders" or "offline readers"
                        to access the Sites in a manner that send more
                        request messages to the Sites than a human can
                        reasonably produce in the same period of time.</li>
                    </ol>
                  </li>

                  <li>Failure to comply with the Rules of Acceptable Use
                    constitutes a serious breach of these Terms of Use, and may
                    result in our taking all or any of the following actions
                    (with or without notice):

                    <ol class="ordered-list--alpha">
                      <li>immediate, temporary or permanent withdrawal of your
                        right to use the Sites;</li>
                      <li>issuing of a warning to you;</li>
                      <li>legal action against you including proceedings for
                        reimbursement of all costs (including, but not
                        limited to, reasonable administrative and legal
                        costs) resulting from the breach; and/or</li>
                      <li>disclosure of such information to law enforcement
                        authorities as we reasonably feel is necessary.</li>
                    </ol>

                  </li>

                  <li>The responses described in paragraph 7.3 are not limited,
                    and we may take any other action we reasonably deem
                    appropriate.</li></ol></li>

              <li><span class="font-weight-semi-bold display-inline-block mb-10">Your data</span><ol
                  class="ordered-list--medium"
                ><li>Please see our
                    <a href="privacy-statement">Privacy Statement</a>
                    which provides information on how we use your personal
                    information.</li>
                  <li>We: have the right (subject to complying with our
                    <a href="privacy-statement">Privacy Statement</a>) to
                    monitor and to reject, refuse or delete any data provided by
                    you where we think that it breaks any of the Rules of
                    Acceptable Use; and shall own any insights, statistics,
                    content or information we create by reference to your use of
                    the Sites.</li></ol></li>

              <li><span class="font-weight-semi-bold display-inline-block mb-10">Ending our relationship with you
                  in relation to the Sites</span><ol
                  class="ordered-list--medium"
                ><li>If at any time you do not feel that you can agree to these
                    Terms of Use or any changes made to the Terms of Use or the
                    Sites, you must immediately stop using the Sites.</li>
                  <li>We may immediately end your use of the Sites if you break
                    the Rules of Acceptable Use, any other important rule(s), or
                    terms and conditions we set for accessing and using the
                    Sites including these Terms of Use.</li>
                  <li>We may also withdraw the Sites on giving reasonable notice
                    that we plan to do this unless providing notice in advance
                    is not reasonably practical.</li></ol></li>

              <li><span class="font-weight-semi-bold display-inline-block mb-10">Our liability/responsibility to
                  you</span><ol class="ordered-list--medium"><li>While we do our
                    best to ensure that the features and functionalities of the
                    Sites are of a reasonably satisfactory standard, certain
                    features may rely on networks and connections that are
                    beyond our control. Some of the information provided to you
                    on the Sites may also contain content owned or developed by
                    third parties. As we do not own or produce such third party
                    content, we cannot be responsible for it in any way.</li>
                  <li>In addition, due to the nature of the Internet and
                    technology, the Sites are provided on an "as available" and
                    "as is" basis. This means that we are unable to promise that
                    your use of the Sites will be uninterrupted, without delays,
                    error-free or meet your expectations and we do not give any
                    commitment relating to the performance or availability of
                    the Sites in these Terms of Use and, to the extent we are
                    able to do so, we exclude any commitments that may be
                    implied by law.</li>
                  <li>Save to the extent prohibited under applicable law, we will
                    have no responsibility whatsoever to you in the event of a
                    claim arising out of our provision of the Sites (other than
                    in respect of any responsibility that we cannot exclude
                    under applicable law).</li>
                  <li>In every case, we will never be responsible for any loss or
                    damage that is not reasonably foreseeable, or that is caused
                    by a failure by you to comply with these Terms of Use.</li>
                  <li>The above does not affect our responsibility to you for any
                    personal injury or death caused by our negligence.</li></ol></li>

              <li><span class="font-weight-semi-bold display-inline-block mb-10">Resolving disputes</span><ol
                  class="ordered-list--medium"
                ><li>If you have a dispute with us relating to the Sites, in the
                    first instance please contact us by going to the
                    <a href="contact">Contact Us</a>
                    page available on our websites and using the contact form as
                    instructed and attempt to resolve the dispute with us
                    informally.</li>
                  <li>In the unlikely event that we have not been able to resolve
                    a dispute informally, we will discuss and agree with you the
                    most effective way of resolving our dispute.</li></ol></li>

              <li><span class="font-weight-semi-bold display-inline-block mb-10">Changes to the Sites</span><ol
                  class="ordered-list--medium"
                ><li>We are constantly updating and improving the Sites to try and
                    find ways to provide you with new and innovative features
                    and services. Improvements and updates are also made to
                    reflect changing technologies, tastes, behaviours and the
                    way people use the Internet and the Sites.</li>
                  <li>In order to do this, we may need to update, reset, stop
                    offering and/or supporting a particular part of the Sites,
                    or feature relating to the Sites ("<span
                      class="font-weight-semi-bold"
                    >changes to our Sites</span>"). These changes to our Sites
                    may affect your past activities, certain features that you
                    use and any other information available through the Sites ("<span
                      class="font-weight-semi-bold"
                    >Site Elements</span>"). Any changes to the Sites could
                    involve these Site Elements being deleted or reset.</li>
                  <li>You agree that a key characteristic of the Sites is that
                    changes to the Sites will take place over time and this is
                    an important basis on which we grant you access to the
                    Sites. Once we have made changes to the Sites, your
                    continued use of the relevant Site will show that you have
                    accepted any changes to the Site. You are always free to
                    stop using the Sites.</li></ol></li>

              <li><span class="font-weight-semi-bold display-inline-block mb-10">Changes to the documents</span><ol
                  class="ordered-list--medium"
                ><li>We may revise these Terms of Use from time to time but the most
                    current version will always be accessible from the Sites .</li>
                  <li>Changes will usually occur because of new features being
                    added to the Sites, changes in the law or where we need to
                    clarify our position on something.</li>
                  <li>Normally, we will try to give you some warning before the
                    new terms become effective. However, sometimes changes will
                    need to be made immediately and if this happens we will not
                    give you any notice.</li></ol></li>

              <li><span class="font-weight-semi-bold display-inline-block mb-10">Documents that apply to our
                  relationship with you</span><ol class="ordered-list--medium"><li
                  >The current version of the Terms of Use contains the only terms
                    and conditions that apply to our relationship with you when
                    you use the Sites without registering for access to
                    additional services or content available from us through the
                    Sites.</li>
                  <li>We intend to rely on these Terms of Use as setting out the
                    written terms of our agreement with you for the provision of
                    the Sites. If part of the Terms of Use cannot be enforced
                    then the remainder of the Terms of Use will still apply to
                    our relationship.</li>
                  <li>If you do not comply with these Terms of Use and we do not
                    take action immediately, this does not mean we have given up
                    any right we have and we may still take action in the
                    future.</li></ol></li>

              <li><span class="font-weight-semi-bold display-inline-block mb-10">Severability</span><ol
                  class="ordered-list--medium"
                ><li>If any provision of these Terms of Use is judged to be illegal
                    or unenforceable, this will not affect the continuation in
                    full force and effect of the remainder of the provisions.</li></ol></li>

              <li><span class="font-weight-semi-bold display-inline-block mb-10">Law</span><ol
                  class="ordered-list--medium"
                ><li>English law will apply to all disputes and the interpretation
                    of these Terms of Use. The English courts will have
                    non-exclusive jurisdiction over any dispute arising from or
                    related to your use of the Sites.</li></ol></li>

              <li><span class="font-weight-semi-bold display-inline-block mb-10">Contact, feedback and complaints</span><ol
                  class="ordered-list--medium"
                ><li>If you need to contact us in relation to these Terms of Use or
                    any other document mentioned in them, please go to the
                    <a href="contact">Contact Us</a>
                    page available on our websites and use the contact form as
                    instructed.</li>
                  <li>We value hearing from our users, and are always interested
                    in learning about ways we can improve the Sites. By
                    providing your feedback or any other information (other than
                    your personal data) via the
                    <a href="contact">Contact Us</a>
                    page or otherwise, you agree that you are giving up any
                    rights you have in your feedback so that we may use and
                    allow others to use it without any restriction and without
                    any payment to you.</li></ol></li>

            </ol>

          </div>
        </div>

      </section>

      <!-- -->
      
      <section class="pt-100 pb-250 text-align-center position-relative">
        <div class="body-curve">
          <canvas
            data-primary-color="#bddc5e"
            data-secondary-color="#e5f1bf"
            data-top-shape-svg-url="/assets/svg/curve/curve-f-top.svg"
            data-top-shape-y-offset-percentage="0"
            data-margin-top-percentage-of-top-shape-height="0.2"
            data-bottom-shape-svg-url="/assets/svg/curve/curve-e-bottom-alt-1.svg"
            data-bottom-shape-y-offset-percentage="0.1"
            data-margin-bottom-percentage-of-bottom-shape-height="0"
          ></canvas>
        </div>
        <div class="body-curve-content"></div>
      </section>

      <!-- -->

      {{> footer}}

      <!-- -->

      <div class="mini-header-trigger"></div>

    </div>

    <!-- -->

    {{> scripts}}

  </body>

</html>