{{#unless config.prod}}
  <div class="breakpoint-assistant">
    <ul class="bootstrap-list">
      <li class="xs"><p>xs</p><span class="current"></span></li>
      <li class="sm"><p>sm</p><span class="current"></span></li>
      <li class="md"><p>md</p><span class="current"></span></li>
      <li class="lg"><p>lg</p><span class="current"></span></li>
      <li class="xl"><p>xl</p><span class="current"></span></li>
    </ul>
    <ul class="screen-list">
      <li class="mobile"><p>mobile</p><span class="current"></span></li>
      <li class="mobile-landscape"><p>mobile landscape</p><span
          class="current"
        ></span></li>
      <li class="tablet"><p>tablet</p><span class="current"></span></li>
      <li class="desktop"><p>desktop</p><span class="current"></span></li>
      <li class="large-desktop"><p>large-desktop</p><span
          class="current"
        ></span></li>
    </ul>
  </div>
{{/unless}}