<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
    <meta name="format-detection" content="telephone=no" />
    <meta charset="utf-8" />
    
    {{> snippet_gtm_header}}
    {{> snippet_ga}}
    {{> snippet_hubspot}}
    {{> snippet_recaptcha}}
    
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap"
        rel="stylesheet"
        lazyload
    />

    <link rel="preconnect" href="https://stackpath.bootstrapcdn.com" />
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        lazyload
    />
    <link href="assets/css/styles.css?{{config.hash}}" rel="stylesheet" lazyload />

    <title>{{title}}</title>
</head>
