/**
 * .lottie-wrapper.
 */

.lottie-wrapper {
    /**
     * Margin.
     */

    margin-bottom: 20px;

    /**
     * Z-index.
     */

    z-index: 50;

    /**
     * lottie-player.
     */

    lottie-player {
        /**
         * Display.
         */

        display: inline-block;

        /**
         * 
         */

        position: relative;

        /**
         * &.hidden.
         */

        &.hidden {
            /**
             * Opacity.
             */

            opacity: 0;
        }

        /**
         * Transition.
         */

        transition: opacity 0.3s ease;
    }

    /**
     * &--center.
     */

    &--center {
        /**
         * Font related.
         */

        text-align: center;
    }

    /**
     * &--width-90pc lottie-player.
     */

    &--width-90pc lottie-player {
        /**
         * Sizing.
         */

        width: 90%;
    }

    /**
     * &--width-80pc lottie-player.
     */

    &--width-80pc lottie-player {
        /**
         * Sizing.
         */

        width: 80%;
    }

    /**
     * &--width-75pc.
     */

    &--width-75pc lottie-player {
        /**
         * Sizing.
         */

        width: 75%;
    }

    /**
     * &--width-70pc.
     */

    &--width-70pc lottie-player {
        /**
         * Sizing.
         */

        width: 70%;
    }

    /**
     * &--width-65pc.
     */

    &--width-65pc lottie-player {
        /**
         * Sizing.
         */

        width: 65%;
    }

    /**
     * &--small.
     */

    &--small {
        /**
         * lottie-player.
         */

        lottie-player {
            /**
             * Sizing.
             */

            height: 150px !important;
        }
    }

    /**
     * &--homepage.
     */

    &--homepage {
        /**
         * Margin.
         */

        margin-bottom: 0;

        /**
         * Position.
         */

        position: absolute;
        top: 50%;
        left: 55%;

        /**
         * Transform.
         */

        transform: translateY(-50%);

        /**
         * Z-index.
         */

        z-index: 0;

        /**
         * @include.
         */

        @include breakpoint($b-df-tablet) {
            /**
             * Display.
             */

            display: none;
        }

        /**
         * lottie-player.
         */

        lottie-player {
            /**
             * Sizing.
             */

            width: 55vw;
        }
    }

    /**
     * &--hero.
     */

    &--hero {
        /**
         * Border.
         */

        border: none;

        /**
         * Position.
         */

        position: absolute;
        right: 0;
        top: 0;

        /**
         * Sizing.
         */

        width: 150vw;
        max-width: 1500px;
        /**
         * Transform.
         */

        transform: translateY(-40%) translateX(10%);

        @include breakpoint($b-df-tablet) {
            display: none;
        }
    }

    &--inline {
        display: none;
        padding: 0 10%;
        margin: -20% 0;

        lottie-player {
            z-index: 50;
        }

        @include breakpoint($b-df-tablet) {
            display: block;
        }
    }

    /**
     * &--design.
     */

    &--design {
        /**
         * Sizing.
         */

        width: 65vw;
        transform: translateY(-8%) translateX(35%);
    }

    /**
     * &--deploy.
     */

    &--deploy {
        /**
         * Sizing.
         */

        width: 90vw;
        transform: translateY(-46%) translateX(30%);

        &--inline {
            margin: -40% 0 -32% 0;
        }
    }

    /**
     * &--ingest.
     */

    &--ingest {
        /**
         * Sizing.
         */

        width: 120vw;

        /**
         * Transform.
         */

        transform: translateY(-15%) translateX(42%);

        &--inline {
            margin: -20% 0 -38% 0;
        }
    }

    /**
     * &--engine.
     */

    &--engine {
        /**
         * Sizing.
         */

        width: 110vw;
        transform: translateY(-18%) translateX(17%);

        &--inline {
            margin: -24% 0 -42% 0;
        }
    }

    /**
     * &--monitor.
     */

    &--monitor {
        /**
         * Sizing.
         */

        width: 100vw;
        transform: translateY(-10%) translateX(16%);

        &--inline {
            margin: -20% 0 -30% 0;
        }
    }

    /**
     * &--platform.
     */

    &--platform {
        /**
         * Sizing.
         */

        width: 100vw;
        max-width: 1400px;
        transform: translateY(10%) translateX(10%);

        &--inline {
            margin: -16% 0 -24% 0;
        }
    }

    /**
     * &--center.
     */

    &--center {
        /**
         * Background.
         */

        text-align: center;
    }
}

/**
 * .platform-hero.
 */

.platform-hero {
    /**
     * Position.
     */

    position: relative;

    /**
     * Padding.
     */

    padding-bottom: 22vw;

    /**
     * @include.
     */

    @include breakpoint($b-tablet-only) {
        /**
         * Padding.
         */

        padding-bottom: 10vw !important;
    }
}

/**
 * .z-index-above-graphic.
 */

.z-index-above-graphic {
    /**
     * Z-index.
     */

    z-index: 51;
}

/**
 * .lottie-header.
 */

.lottie-header {
    /**
     * Position.
     */

    position: relative;
}
